<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:include="parts/head.html :: head(title='Home')"></head>

<body style="background-color: #eee">

<div id="wrapper">
    <header th:insert="admins/parts/header.html :: header_v(url_active='indexAdmin')"></header>
    <div class="container mt-5">
        <h2 th:text="Welcome "></h2>
        <h3 sec:authentication="name"></h3>
    </div>
    <th:block th:insert="parts/footer.html :: afterFooter"></th:block><!-- End #footer -->
</div>
</body>
</html>