<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="parts/head.html :: head(title='Products')">

</head>
<body style="background-color: #eee">

<div id="wrapper" style="min-height: 100vh">
    <header th:insert="admins/parts/header.html :: header_v(url_active='product')"></header>
    <div id="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index">Home</a></li>
                <li class="active">Messages</li>
            </ul>
        </div>
    </div>
    <div class="container mt-5">
        <form method="get" action="/admins/messages">
            <div class="form-row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="input-icon input-icon-country"></span><span
                                class="input-text">SEARCH By:</span></span>
                        <div class="large-selectbox clearfix">
                            <select name="search_by" class="selectbox">
                                <option th:if="${search_by != null && !search_by.isEmpty()}" th:value="${search_by}" th:text="${search_by}"></option>
                                <option value="User name">user name</option>
                                <option value="Product id">Product id</option>
                                <option value="Find All" >Find all</option>
                            </select>
                        </div><!-- End .large-selectbox-->
                    </div><!-- End .input-group -->
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="input-group input-group-lg">
                                    <span class="input-group-btn">
                                    <button class="btn btn-custom-2" type="submit"
                                            style="color: #7bae23 !important;background-color: #f2f2f2; border: 1px solid #dcdcdc;">Search</button>
                                    </span>
                        <input type="text" name="filter" class="form-control" placeholder="Search here"
                               th:value="${filter != null ? filter : ''}">
                    </div><!-- /input-group -->
                </div>
            </div>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        </form>

        <div class="category-toolbar clearfix">
            <th:block th:include="admins/parts/pager.html :: pager(${url}, ${page},${listpages})"></th:block>
        </div>
        <div class="card-columns">
            <table class="table cart-table">
                <thead>
                <tr>
                    <th class="table-title">Id</th>
                    <th class="table-title">Text</th>
                    <th class="table-title">Subject</th>
                    <th class="table-title">Author</th>
                    <th class="table-title">Product</th>
                    <th class="table-title">Data</th>
                    <th class="table-title">Rating</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="message : ${page.content}" th:object="${message}">
                    <td>
                        <header class="item-name" style="text-align: center"></header>
                        <a class="close-button" style="margin: auto" th:href="@{/admins/messages/delete(id=${message.id})}"></a>
                    </td>
                    <td class="item-code" style="vertical-align: inherit;" th:text="*{text}"></td>
                    <td class="item-code" style="vertical-align: inherit;" th:text="*{subject}"></td>
                    <td class="item-code" style="vertical-align: inherit;"><a
                            th:href="*{'/admins/users/' + author.id}"
                            th:text="*{author.username}"></a></td>
                    <td class="item-code" style="vertical-align: inherit;"><a
                            th:href="*{'/admins/products/' + product.id}"
                            th:text="*{product.name}"></a></td>
                    <td class="item-code" style="vertical-align: inherit;" th:text="*{placedAt.toLocaleString()}"></td>
                    <td class="item-code" style="vertical-align: inherit;" th:text="*{rating}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:include="admins/parts/pager.html :: pager(${url}, ${page},${listpages})"></div>
    </div>
    <th:block th:insert="parts/footer.html :: afterFooter"></th:block><!-- End #footer -->
</div>
</body>
</html>