<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="parts/head.html :: head(title='Password Change')">

</head>
<body style="background-color: #eee">

<div id="wrapper" style="min-height: 100vh">
    <header th:insert="admins/parts/header.html :: header_v(url_active='users')"></header>

    <div class="container">
        <form enctype="multipart/form-data" th:action="@{/admins/users/passwordChange/{path}(path=${id})}"
              method="post">
            <h4 class="modal-title" th:text="'Edit user № ' + ${id}"></h4>

            <div class="form-group form-inline">
                <label>Password</label>
                <input type="text" class="form-control" name="password" placeholder="Input Password"
                       th:attrappend="class=${passwordEmpty != null} ? ' is-invalid' + ''"/></div>
            <span class="validationError text-danger"
                  th:if="${passwordEmpty != null}"
                  th:text="${passwordEmpty}"></span>

            <div class="form-group form-inline">
                <label>Confirm password</label>
                <input type="text" class="form-control" name="confirmPassword" placeholder="Confirm password"
                       th:attrappend="class=${errorConform != null} ? ' is-invalid' + ''"/></div>
            <span class="validationError text-danger"
                  th:if="${errorConform != null}"
                  th:text="${errorConform}"></span>
            <br>
            <a href="/admins/users">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </a>
            <button type="submit" class="btn btn-primary">Save changes</button>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        </form>
    </div>
    <div th:replace="admins/parts/footer.html :: footer"></div><!-- End #footer -->
    <th:block th:insert="parts/footer.html :: afterFooter"></th:block><!-- End #footer --></div>
</body>
</html>