<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="admins/parts/head.html :: head(title='Brands')">

</head>
<body style="background-color: #eee">

<row>
    <nav th:include="admins/parts/header.html :: header(url_active='product')" class="navbar navbar-expand-lg navbar-dark bg-primary"></nav>
</row>


<div class="container mt-5">
    <h1>Brands</h1>

    <br>
    <h2>Add brand</h2>
    <form method="post" th:action="@{/admins/product/brands/add}">
        <div class="form-group">
            <input type="text" class="form-control" th:value="${name != null ? name : ''}"
                   name="name" placeholder="name"
                   th:attrappend="class=${nameError != null || nameError != null} ? ' is-invalid' : ''">
            <div class="invalid-feedback" th:if="${nameError != null}">[[${nameError}]]</div>
        </div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add brand</button>
        </div>
    </form>

    <br>
    <h2>All color</h2>
        <div>
            <th:block th:if="${brands != null}" th:each="brand : ${brands}">
                <a th:href="@{/admins/product/brands/delete/{path}(path=${brand.name})}">
                    <p th:text="${brand.name + ' -> delete'}"></p>
                </a>
            </th:block>
        </div>
</div>
</body>
</html>