<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="parts/head.html :: head(title='Products')">

</head>
<body style="background-color: #eee">

<div id="wrapper" style="min-height: 100vh">
    <header th:insert="admins/parts/header.html :: header_v(url_active='product')"></header>
    <div id="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index">Home</a></li>
                <li class="active">Products</li>
            </ul>
        </div>
    </div>
    <div class="container mt-5">
        <form method="get" action="/admins/product">
            <div class="form-row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="input-icon input-icon-country"></span><span
                                class="input-text">SEARCH By:</span></span>
                        <div class="large-selectbox clearfix">
                            <select name="search_by" class="selectbox">
                                <option th:if="${search_by != null}" th:value="${search_by}" th:text="${search_by}"></option>
                                <option value="Id">Id</option>
                                <option value="Brand">Brand</option>
                                <option value="Name">Name</option>
                                <option value="Price">Price</option>
                                <option value="Sale">Sale</option>
                                <option value="Category">Category</option>
                                <option value="Size">Size</option>
                                <option>Find all</option>
                            </select>
                        </div><!-- End .large-selectbox-->
                    </div><!-- End .input-group -->
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="input-group input-group-lg">
                                    <span class="input-group-btn">
                                    <button class="btn btn-custom-2" type="submit"
                                            style="color: #7bae23 !important;background-color: #f2f2f2; border: 1px solid #dcdcdc;">Search</button>
                                    </span>
                        <input type="text" name="filter" class="form-control" placeholder="Search here"
                               th:value="${filter != null ? filter : ''}">
                    </div><!-- /input-group -->
                </div>
            </div>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        </form>

        <div class="col-md-12" style="text-align: center;">
            <input type="button" value="ADD NEW PRODUCT" class="btn btn-custom-2 md-margin" data-toggle="collapse"
                   href="#collapseExample" th:attrappend="class=${product != null ? ' collapsed' : ''}">
        </div>
        <div class="collapse " id="collapseExample" th:attrappend="class=${product != null ? ' in' : ''}">
            <div class="row" th:object="${product}">

                <th:block th:if="${hasErrors != null}">
                    <h4 style="color: #a94442; margin-left: 14px;">Please correct the problems below and resubmit.</h4>
                </th:block>

                <form method="post" enctype="multipart/form-data">
                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <label class="control-label" style="color: #a94442;"
                               th:if="${nameError != null}" th:text="${nameError}"></label>
                        <div class="input-group"
                             th:attrappend="class=${nameError != null ? ' has-error my-has-error' : ''}">
                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                            class="input-text">Name*</span></span>
                            <input type="text" class="form-control input-lg" placeholder="Product name"
                                   name="name"
                                   th:value="${product != null ? product.name : ''}"
                                   th:attrappend="style=${nameError != null ? 'border: 1px solid #a94442;' : ''}">
                        </div>

                        <label class="control-label" style="color: #a94442;"
                               th:if="${priceError != null}" th:text="${priceError}"></label>
                        <div class="input-group"
                             th:attrappend="class=${priceError != null ? ' has-error my-has-error' : ''}">
                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                            class="input-text">Price*</span></span>
                            <input type="text" class="form-control input-lg" placeholder="Product price"
                                   name="price"
                                   th:value="${product != null ? product.price : ''}"
                                   th:attrappend="style=${priceError != null ? 'border: 1px solid #a94442;' : ''}">
                        </div>

                        <label class="control-label" style="color: #a94442;"
                               th:if="${saleError != null}" th:text="${saleError}"></label>
                        <div class="input-group"
                             th:attrappend="class=${saleError != null ? ' has-error my-has-error' : ''}">
                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                            class="input-text">Sale*</span></span>
                            <input type="text" class="form-control input-lg" placeholder="Product sale"
                                   name="sale"
                                   th:value="${product != null ? product.sale : ''}"
                                   th:attrappend="style=${saleError != null ? 'border: 1px solid #a94442;' : ''}">
                        </div>

                        <label class="control-label" style="color: #a94442;"
                               th:if="${descriptionError != null}" th:text="${descriptionError}"></label>
                        <div class="input-group textarea-container"
                             th:attrappend="class=${descriptionError != null ? ' has-error my-has-error' : ''}">
                    <span class="input-group-addon"><span class="input-icon input-icon-message"></span><span
                            class="input-text">Description</span></span>
                            <textarea th:value="${product != null ? product.description : ''}"
                                      th:attrappend="style=${descriptionError != null ? 'border: 1px solid #a94442;' : ''}"
                                      name="description" id="contact-message" class="form-control" cols="30"
                                      rows="6"
                                      placeholder="Your test"></textarea>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">

                        <div class="input-group">
                    <span class="input-group-addon"><span class="input-icon input-icon-country"></span><span
                            class="input-text">Brand*</span></span>
                            <div class="large-selectbox clearfix">
                                <select id="select-brand" name="brand" class="selectbox" title="brand"
                                        th:value="${product != null ? product.brand : ''}">
                                    <th:block th:each="brand : ${brands}">
                                        <option th:value="${brand.getName()}"
                                                th:text="${brand.getName()}">
                                        </option>
                                    </th:block>
                                </select>
                            </div><!-- End .large-selectbox-->
                        </div><!-- End .input-group -->

                        <div class="input-group">
                    <span class="input-group-addon"><span class="input-icon input-icon-country"></span><span
                            class="input-text">Category*</span></span>
                            <div class="large-selectbox clearfix">
                                <select id="select-category" name="category" class="selectbox" title="categories">
                                    <th:block th:each="categoryLevelOne : ${categoriesLevelOne}">
                                        <th:block th:each="categoryLevelTwo: ${categoriesLevelTwo}">
                                            <option th:if="${categoryLevelOne.id == categoryLevelTwo.ancestor.id}"
                                                    th:text="${categoryLevelOne.name + ' -> ' + categoryLevelTwo.name}"
                                                    th:value="${categoryLevelTwo.id}"></option>
                                        </th:block>
                                    </th:block>
                                </select>
                                </select>
                            </div><!-- End .large-selectbox-->
                        </div><!-- End .input-group -->

                        <div class="panel" style=" margin-bottom: 25px">
                            <div class="accordion-header" style="height: 47px; margin-bottom: 0px; padding: 15px 21px;">
                                <div class="accordion-title"><span>Color</span></div>
                                <!-- End .accordion-title -->
                                <a class="accordion-btn opened" data-toggle="collapse"
                                   data-target="#category-list-4"></a>
                            </div><!-- End .accordion-header -->

                            <style>
                                input[type="checkbox"] {
                                    display: none;
                                }

                                input[type="checkbox"]:checked + label span {
                                    transform: scale(1.25);
                                    border: #262626 solid 2px;
                                }
                            </style>
                            <div id="category-list-4" class="collapse in">
                                <div class="panel-body" style="border: 1px solid #e4e2e2; background-color: #fcfcfc;">
                                    <ul class="filter-color-list clearfix">
                                        <th:block th:each="color : ${colors}">
                                            <input type="checkbox" name="color" th:id="${color.getRgb()}"
                                                   th:value="${color.getRgb()}"/>
                                            <label th:class="label-color" th:for="${color.getRgb()}">
                                                <span th:attrappend="style=${'background-color: rgb(' + color.getRgb() + ');'}"></span>
                                            </label>
                                        </th:block>
                                    </ul>
                                </div><!-- End .panel-body -->
                            </div><!-- #collapse -->
                        </div><!-- End .panel -->

                        <div class="panel" style=" margin-bottom: 25px">
                            <div class="accordion-header" style="height: 47px; margin-bottom: 0px; padding: 15px 21px;">
                                <div class="accordion-title"><span>Size</span></div>
                                <!-- End .accordion-title -->
                                <a class="accordion-btn opened" data-toggle="collapse"
                                   data-target="#product-size"></a>
                            </div><!-- End .accordion-header -->
                            <style>
                                input[type="checkbox"] {
                                    display: none;
                                }

                                input[type="checkbox"]:checked + label span {
                                    transform: scale(1.25);
                                    border: #262626 solid 2px;
                                }
                            </style>
                            <div id="product-size" class="collapse in">
                                <div class="panel-body" style="border: 1px solid #e4e2e2; background-color: #fcfcfc;">
                                    <ul class="filter-color-list clearfix">
                                        <th:block th:each="size : ${sizes}">
                                            <input type="checkbox" name="sizes" th:id="${size.getSize()}"
                                                   th:value="${size.getSize()}"/>
                                            <label th:class="label-size" th:for="${size.getSize()}">
                                                <span th:text="${size.getSize()}"></span>
                                            </label>
                                        </th:block>
                                    </ul>
                                </div><!-- End .panel-body -->
                            </div><!-- #collapse -->
                        </div><!-- End .panel -->

                        <div class="form-group" style="text-align: center">
                            <input type="submit" value="ADD PRODUCT" class="btn btn-custom-2 md-margin">
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                </form>
            </div>
        </div>

        <div class="category-toolbar clearfix">
            <th:block th:include="admins/parts/pager.html :: pager(${url}, ${page},${listpages})"></th:block>
        </div>
        <div class="card-columns">
            <th:block th:if="${page.getTotalElements() < 1}">
                <li colspan="2"> No product Available</li>
            </th:block>
            <table class="table cart-table">
                <thead>
                <tr>
                    <th class="table-title">Id</th>
                    <th class="table-title">Product Name</th>
                    <th class="table-title">Price</th>
                    <th class="table-title">Sale</th>
                    <th class="table-title">Brand</th>
                    <th class="table-title">Category</th>
                    <th class="table-title">New</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${page.content}" th:object="${product}">
                    <td>
                        <header class="item-name" style="text-align: center"><a
                                th:href="'/admins/product/' + *{id}">[[*{id}]]</a>
                        </header>
                        <a class="close-button" style="margin: auto" th:href="@{/product/delete(id=${product.id})}"></a>
                    </td>
                    <td class="item-name-col" style="vertical-align: inherit;     padding: 15px 15px;">
                        <figure style="width: 126px">
                            <a th:href="'/admins/product/' + *{id}">
                                <img th:src="${product.filename != null ? '/img/' + product.filename : '/images/products/compare1.jpg'}"
                                     th:alt="*{name}">
                            </a>
                        </figure>
                        <header class="item-name" style="text-align: center"><a
                                th:href="'/admins/product/' + *{id}">[[*{name}]]</a>
                        </header>
                        <ul style="text-align: center">
                            <li class="text-muted" th:href="@{/admins/product/images/{path}(path=${product.id})}"
                                th:if="*{filename != null}"
                                th:text="*{'Image 1: Yes;'}"></li>
                            <li class="text-muted" th:href="@{/admins/product/images/{path}(path=${product.id})}"
                                th:unless="*{filename != null}"
                                th:text="*{'Image 1: No;'}"></li>

                            <li class="text-muted" th:href="@{/admins/product/images/{path}(path=${product.id})}"
                                th:if="*{hoverFilename != null}"
                                th:text="*{'Image 2: Yes;'}"></li>
                            <li class="text-muted" th:href="@{/admins/product/images/{path}(path=${product.id})}"
                                th:unless="*{hoverFilename != null}"
                                th:text="*{'Image 2: No;'}"></li>
                        </ul>
                    </td>
                    <td class="item-price-col" th:text="*{price + '$'}" style="vertical-align: inherit;"></td>
                    <td class="item-code" th:text="${product.sale != null ? product.sale + '%' : ''}"
                        style="vertical-align: inherit;"></td>
                    <td class="item-code" th:text="*{brand.name}" style="vertical-align: inherit;"></td>
                    <td th:text="*{newProduct}" style="vertical-align: inherit;"></td>
                    <td class="item-code" th:text="*{category.name + ' -> ' + category.ancestor.name + ';'}"
                        style="vertical-align: inherit;"></td>
                </tr>
                </tbody>
            </table>

        </div>

        <div th:include="admins/parts/pager.html :: pager(${url}, ${page},${listpages})"></div>
    </div>
    <th:block th:insert="parts/footer.html :: afterFooter"></th:block><!-- End #footer -->
</div>
</body>
</html>