<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="parts/head.html :: head(title='Colors')">

</head>
<body style="background-color: #eee">
<div id="wrapper" style="min-height: 100vh">
    <header th:insert="admins/parts/header.html :: header_v(url_active='product')"></header>
    <div class="container">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
    <section id="content">
        <div id="breadcrumb-container">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="index">Home</a></li>
                    <li><a href="/admins/product">Products</a></li>
                    <li class="active">Colors</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 product-viewer clearfix">
                            <h2 class="sub-title">Colors</h2>

                                <table class="table cart-table">
                                    <thead>
                                    <tr>
                                        <th class="table-title">delete</th>
                                        <th class="table-title">view</th>
                                        <th class="table-title">rgb</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="color, i : ${colors}">
                                        <td>
                                            <form method="post" th:action="@{/admins/product/colors/delete}" th:name="${i.index}">
                                            <input type="text" hidden name="color" th:value="${color.rgb}"/>
                                            <button class="close-button" style="margin: auto" type="submit"></button>
                                            </form>

                                        </td>
                                        <td  style="vertical-align: inherit;">

                                                <label th:class="label-color" th:for="${color.getRgb()}">
                                                    <span th:attrappend="style=${'background-color: rgb(' + color.getRgb() + ');'}"></span>
                                                </label>
                                        </td>
                                        <td th:text="${color.rgb}"></td>
                                    </tr>
                                    </tbody>
                                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                                </table>
                        </div><!-- End .col-md-6 -->
                        <div class="col-md-6 col-sm-12 col-xs-12 product">
                            <h2 class="sub-title">DETAILS</h2>
                            <th:block th:if="${hasErrors != null}">
                                <h4 style="color: #a94442; margin-left: 14px;">Please correct the problems below and
                                    resubmit.</h4>
                            </th:block>
                            <form method="post" th:action="@{/admins/product/colors/add}">

                                <label class=" control-label " style="color: #a94442;" th:if="${rError != null}"
                                       th:text="${rError}"></label>
                                <label class=" control-label " style="color: #a94442;" th:if="${colorError != null}"
                                       th:text="${colorError}"></label>
                                <div class="input-group"
                                     th:attrappend="class=${rError != null || colorError != null ? ' has-error my-has-error' : ''}">
                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                            class="input-text">R*</span></span>
                                    <input type="text" class="form-control input-lg" placeholder="R" name="r"
                                           th:value="${r != null ? r : ''}"
                                           th:attrappend="style=${rError != null || colorError != null ? 'border: 1px solid #a94442;' : ''}">
                                </div>

                                <label class=" control-label " style="color: #a94442;" th:if="${gError != null}"
                                       th:text="${gError}"></label>
                                <div class="input-group"
                                     th:attrappend="class=${gError != null || colorError != null ? ' has-error my-has-error' : ''}">
                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                            class="input-text">G*</span></span>
                                    <input type="text" class="form-control input-lg" placeholder="G" name="g"
                                           th:value="${g != null ? g : ''}"
                                           th:attrappend="style=${gError != null || colorError != null ? 'border: 1px solid #a94442;' : ''}">
                                </div>

                                <label class=" control-label " style="color: #a94442;" th:if="${bError != null}"
                                       th:text="${bError}"></label>
                                <div class="input-group"
                                     th:attrappend="class=${bError != null || colorError != null ? ' has-error my-has-error' : ''}">
                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                            class="input-text">B*</span></span>
                                    <input type="text" class="form-control input-lg" placeholder="B" name="b"
                                           th:value="${b != null ? b : ''}"
                                           th:attrappend="style=${bError != null || colorError != null ? 'border: 1px solid #a94442;' : ''}">
                                </div>
                                <div class="form-group" style="text-align: center">
                                    <input type="submit" value="Add color" class="btn btn-custom-2 md-margin">
                                </div>
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            </form>

                        </div><!-- End .col-md-6 -->

                    </div><!-- End .row -->
                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </section><!-- End #content -->
</div>
<th:block th:insert="parts/footer.html :: afterFooter"></th:block><!-- End #footer --></div>
</body>
</html>