<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:include="admins/parts/head.html :: head(title='Products')">

</head>
<body style="background-color: #eee">

<row>
    <nav th:include="admins/parts/header.html :: header(url_active='product')" class="navbar navbar-expand-lg navbar-dark bg-primary"></nav>
</row>


<div class="container mt-5">

    <div class="form-row">
        <div class="form-group col-md-6">
            <form method="get" action="/admins/product" class="form-inline">
                <input type="text" name="filter" class="form-control" th:value="${filter != null ? filter.getName() : ''}"
                       placeholder="Search by Brand">
                <button type="submit" class="btn btn-primary ml-2">Search</button>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            </form>
        </div>
    </div>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
       aria-controls="collapseExample">
        Add new Product
    </a>
    <a href="/admins/product/categories" class="btn btn-primary" role="button" style="color: white">Categories</a>
    <a href="/admins/product/colors" class="btn btn-primary" role="button" style="color: white">Colors</a>
    <a href="/admins/product/brands" class="btn btn-primary" role="button" style="color: white">Brands</a>

    <div class="collapse " id="collapseExample" th:attrappend="class=${product != null ? ' show' : ''}">
        <div class="form-group mt-3">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" class="form-control" th:value="${product != null ? product.name : ''}"
                           name="name" placeholder="name"
                           th:attrappend="class=${nameError != null} ? ' is-invalid' : ''">
                    <div class="invalid-feedback" th:if="${nameError != null}">[[${nameError}]]</div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" th:value="${product != null ? product.description : ''}"
                           name="description" placeholder="Input description"/>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" th:value="${product != null ? product.price : ''}"
                           name="price" placeholder="price" step="any"
                           th:attrappend="class=${priceError != null} ? ' is-invalid' : ''">
                    <div class="invalid-feedback" th:if="${priceError != null}">[[${priceError}]]</div>
                </div>
                <div class="form-group">
                    <select class="form-control" th:value="${product != null ? product.brand : ''}"
                            id="exampleFormControlSelect1" name="brand" title="brand"
                            th:attrappend="class=${brandError != null} ? ' is-invalid' : ''">
                        <th:block th:each="brand : ${brands}">
                            <option th:text="${brand.getName()}"></option>
                        </th:block>
                    </select>
                    <div class="invalid-feedback" th:if="${brandError != null}">[[${brandError}]]</div>
                </div>
                <div class="form-group">
                    <th:block th:each="color : ${colors}">
                        <input type="checkbox" name="color" th:id="${color.getRgb()}"
                               th:value="${color.getRgb()}"/>
                        <label th:class="label-color" th:for="${color.getRgb()}">
                            <span th:attrappend="style=${'background-color: rgb(' + color.getRgb() + ');'}"></span>
                        </label>
                    </th:block>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" th:value="${product != null ? product.sale : ''}"
                           name="sale" placeholder="sale"
                           th:attrappend="class=${saleError != null} ? ' is-invalid' : ''">
                    <div class="invalid-feedback" th:if="${saleError != null}">[[${saleError}]]</div>
                </div>
                <div class="form-group">
                    <select class="form-control" id="categoriesAdd" name="category" title="categories">
                        <th:block th:each="categoryLevelOne : ${categoriesLevelOne}">
                            <th:block th:each="categoryLevelTwo: ${categoriesLevelTwo}">
                                <option th:if="${categoryLevelOne.id == categoryLevelTwo.ancestor.id}"
                                        th:text="${categoryLevelOne.name + ' -> ' + categoryLevelTwo.name}"
                                        th:value="${categoryLevelTwo.id}"></option>
                            </th:block>
                        </th:block>
                    </select>
                </div>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>

    <div th:include="admins/parts/pager.html :: pager(${url}, ${page},${listpages})"></div>

    <div class="card-columns">

        <th:block th:if="${page.getTotalElements() < 1}">
            <li colspan="2"> No product Available</li>
        </th:block>

        <th:block th:each="item : ${page.content}">
            <div class="card my-3 ">

                <div class="card-body">
                    <h5 class="card-title" th:text="'Id: ' + ${item.id}">Card title</h5>
                    <h5 class="card-title" th:text="'name: ' + ${item.name}">Card title</h5>
                    <p class="card-text" th:text="'description: ' + ${item.description}"></p>
                    <p class="card-text" th:text="'price: ' + ${item.price}"></p>
                    <p class="card-text" th:text="'sale: ' + ${item.sale}"></p>
                    <p class="card-text" th:text="'brand: ' + ${item.brand.getName()}"></p>
                    <th:block th:each="color : ${item.color.iterator()}">
                        <label th:class="label-color" th:for="${color}">
                            <span th:attrappend="style=${'background-color: rgb(' + color.getRgb() + ');'}"></span>
                        </label>
                    </th:block>
                    <p class="card-text" th:text="'newProduct: ' + ${item.newProduct}"></p>

                </div>

                <div class="card-footer ">
                    <small class="text-muted"
                           th:if="${item.category != null}"
                           th:text="${'Category: ' + item.category.name + ' -> ' + item.category.ancestor.name + ';'}"></small>

                    <small class="text-muted"
                           th:if="${item.filename != null}"
                           th:text="${'Image 1: Yes;'}"></small>
                    <small class="text-muted"
                           th:unless="${item.filename != null}"
                           th:text="${'Image 1: No;'}"></small>

                    <small class="text-muted"
                           th:if="${item.hoverFilename != null}"
                           th:text="${'Image 2: Yes;'}"></small>
                    <small class="text-muted"
                           th:unless="${item.hoverFilename != null}"
                           th:text="${'Image 2: No;'}"></small>

                    <div class="text-right">
                        <a th:href="@{/admins/product/images/{path}(path=${item.id})}">images</a>
                        <a th:href="@{/product/delete(id=${item.id})}">delete</a>
                        <a type="button" data-toggle="modal" th:data-target="'#' + ${item.id}">edit</a>
                    </div>

                </div>

                <div class="modal fade" th:id="${item.id}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form enctype="multipart/form-data" th:action="@{'/product/edit/' + ${item.id}}"
                                  method="post">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" th:text="'Edit Product № ' + ${item.id}"></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                               th:value="${item != null ? item.name : ''}"
                                               name="name"
                                               placeholder="Input name"/></div>
                                    <div class="form-group">
                                        <input type="text" class="form-control"
                                               th:value="${item != null ? item.description : ''}"
                                               name="description"
                                               placeholder="Input description"/></div>
                                    <div class="form-group">
                                        <input type="number" class="form-control"
                                               th:value="${item != null ? item.price : ''}"
                                               name="price"
                                               placeholder="Input text"></div>
                                    <div class="form-group">
                                        <select class="form-control" id="edit_brand" name="brand" title="brand">
                                            <th:block th:each="brand : ${brands}">
                                                <th:block
                                                        th:if="${#strings.contains(brand.getName(),item.brand.getName())}">
                                                    <option th:text="${brand.getName()}" selected></option>
                                                </th:block>
                                                <th:block
                                                        th:unless="${#strings.contains(brand.getName(),item.brand.getName())}">
                                                    <option th:text="${brand.getName()}"></option>
                                                </th:block>
                                            </th:block>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <th:block th:each="color : ${colors}">
                                            <input type="checkbox" name="color" th:id="${color.getRgb()}"
                                                   th:value="${color.getRgb()}"/>
                                            <label th:class="label-color" th:for="${color.getRgb()}">
                                                <span th:attrappend="style=${'background-color: rgb(' + color.getRgb() + ');'}"></span>
                                            </label>
                                        </th:block>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" id="edit_newProduct" name="newProduct"
                                                title="newProduct">
                                            <option>true</option>
                                            <option>false</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control"
                                               th:value="${item != null ? item.sale : ''}"
                                               name="sale"
                                               placeholder="Input sale"></div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                                </div>
                            </form>
                        </div><!-- /.модальное окно-Содержание -->
                    </div><!-- /.модальное окно-диалог -->
                </div><!-- /.модальное окно -->
            </div>
        </th:block>

    </div>

    <div th:include="admins/parts/pager.html :: pager(${url}, ${page},${listpages})"></div>


</body>
</html>