<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="parts/head.html :: head(title='Images')">
</head>
<body style="background-color: #eee">

<div id="wrapper" style="min-height: 100vh">
    <header th:insert="admins/parts/header.html :: header_v(url_active='product')"></header>
    <div class="container">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
    <section id="content">
        <div id="breadcrumb-container">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="index">Home</a></li>
                    <li><a href="/admins/product">Product</a></li>
                    <li><a th:href="'/admins/product/' + ${id}" th:text="${id}"></a></li>
                    <li class="active">Images</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 product-viewer clearfix">
                            <h2 class="sub-title">Images</h2>

                            <table class="table cart-table">
                                <thead>
                                <tr>
                                    <th class="table-title">delete</th>
                                    <th class="table-title">Image</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <a th:if="${product.filename != null}" class="close-button" style="margin: auto"
                                           th:href="@{/admins/product/images/{path}/delete/{filetype}/(path=${product.id},filetype='general')}"></a>
                                    </td>
                                    <td class="item-name-col" style="vertical-align: inherit; padding: 15px 15px;">
                                        <figure style="width: 126px">
                                            <a data-rel='prettyPhoto[product]'
                                               th:href="${product.filename!= null ? '/img/' + product.filename : '/images/products/compare1.jpg'}"
                                               th:data-image="${product.filename!= null ? '/img/' + product.filename : '/images/products/compare1.jpg'}"
                                               th:data-zoom-image="${product.filename!= null ? '/img/' + product.filename : '/images/products/compare1.jpg'}"
                                               class="product-gallery-item">
                                                <img th:src="${product.filename!= null ? '/img/' + product.filename : '/images/products/compare1.jpg'}"
                                                     th:alt="${product.filename}"></a>
                                        </figure>
                                        <header class="item-name" style="text-align: center">Main</header>
                                        <ul style="text-align: center">
                                            <li class="text-muted"
                                                th:text="${product.filename != null ? product.filename : 'none'}"></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a th:if="${product.hoverFilename != null}" class="close-button"
                                           style="margin: auto"
                                           th:href="@{/admins/product/images/{path}/delete/{filetype}/(path=${product.id},filetype='hover')}"></a>
                                    </td>
                                    <td class="item-name-col" style="vertical-align: inherit; padding: 15px 15px;">
                                        <figure style="width: 126px">
                                            <a data-rel='prettyPhoto[product]'
                                               th:href="${product.hoverFilename!= null ? '/img/' + product.hoverFilename : '/images/products/compare1.jpg'}"
                                               th:data-image="${product.hoverFilename!= null ? '/img/' + product.hoverFilename : '/images/products/compare1.jpg'}"
                                               th:data-zoom-image="${product.hoverFilename!= null ? '/img/' + product.hoverFilename : '/images/products/compare1.jpg'}"
                                               class="product-gallery-item">
                                                <img th:src="${product.hoverFilename!= null ? '/img/' + product.hoverFilename : '/images/products/compare1.jpg'}"
                                                     th:alt="${product.hoverFilename}"></a>
                                        </figure>
                                        <header class="item-name" style="text-align: center">Hover</header>
                                        <ul style="text-align: center">
                                            <li class="text-muted"
                                                th:text="${product.hoverFilename != null ? product.hoverFilename : 'none'}"></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr th:each="image : ${product.imageList}">
                                    <td>
                                        <a th:if="${image.name != null}" class="close-button" style="margin: auto"
                                           th:href="@{/admins/product/images/{path}/delete/{filetype}/(path=${product.id},filetype=${image.name})}"></a>
                                    </td>
                                    <td class="item-name-col" style="vertical-align: inherit; padding: 15px 15px;">
                                        <figure style="width: 126px">
                                            <a data-rel='prettyPhoto[product]'
                                               th:href="${image.name!= null ? '/img/' + image.name : '/images/products/compare1.jpg'}"
                                               th:data-image="${image.name!= null ? '/img/' + image.name : '/images/products/compare1.jpg'}"
                                               th:data-zoom-image="${image.name!= null ? '/img/' + image.name : '/images/products/compare1.jpg'}"
                                               class="product-gallery-item">
                                                <img th:src="${image.name!= null ? '/img/' + image.name : '/images/products/compare1.jpg'}"
                                                     th:alt="${image.name}"></a>
                                        </figure>
                                        <header class="item-name" style="text-align: center">Secondary</header>
                                        <ul style="text-align: center">
                                            <li class="text-muted" th:text="${image.name}"></li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div><!-- End .col-md-6 -->
                        <div class="col-md-6 col-sm-12 col-xs-12 product">

                            <h2 class="sub-title">Details</h2>

                            <form method="post" enctype="multipart/form-data">
                                <div class="input-group">
                                    <span class="input-group-addon"><span
                                            class="fa fa-file-image-o"></span><span class="input-text">  Main image*</span></span>
                                    <input type="text" class="form-control input-lg" placeholder="Choose file" disabled="" style="margin-bottom: -47px">
                                    <input value="Choose a video please" type="file" name="imageGeneral"
                                           id="imageGeneral" class="form-control input-lg" placeholder="Main image" style="opacity: 0;">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><span
                                            class="fa fa-file-image-o"></span><span class="input-text">  Hover image*</span></span>
                                    <input type="text" class="form-control input-lg" placeholder="Choose file" disabled="" style="margin-bottom: -47px">
                                    <input type="file" name="imageHover" id="imageHover" class="form-control input-lg"
                                           placeholder="Hover image" style="opacity: 0;">
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon"><span
                                            class="fa fa-file-image-o"></span><span class="input-text">  Secondary images*</span></span>
                                    <input type="text" class="form-control input-lg" placeholder="Choose file" disabled="" style="margin-bottom: -47px">
                                    <input type="file" id="imageSecondary" name="imageSecondary" multiple
                                           class="form-control input-lg" placeholder="Secondary images" style="opacity: 0;">
                                </div>
                                <div class="form-group" style="text-align: center">
                                    <input type="submit" value="Update" class="btn btn-custom-2 md-margin" style=" background-color: #7bae21;  border: green;">
                                </div>
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            </form>
                        </div><!-- End .col-md-6 -->

                    </div><!-- End .row -->
                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </section><!-- End #content -->
    <th:block th:insert="parts/footer.html :: afterFooter"></th:block><!-- End #footer --></div>
</body>
</html>