<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="parts/head.html :: head(title='User')">
</head>
<body style="background-color: #eee">

<div id="wrapper" style="min-height: 100vh">
    <header th:insert="admins/parts/header.html :: header_v(url_active='users')"></header>

    <div class="container mt-5">
        <div class="card-group">
            <div class="list-group" th:object="${user}">
                <div class="card" style="text-align: center">
                    <a href="#" class="list-group-item list-group-item-action active"
                       th:text="*{'ID: ' + id}">
                    </a>
                    <a href="#" class="list-group-item list-group-item-action "
                       th:text="*{'Username: ' + username}"></a>
                    <a href="#" class="list-group-item list-group-item-action "
                       th:text="*{'FirstName: ' + firstName}"></a>
                    <a href="#" class="list-group-item list-group-item-action "
                       th:text="*{'LastName: ' + lastName}"></a>
                    <a href="#" class="list-group-item list-group-item-action "
                       th:text="*{'Email : ' + email}"> </a>
                    <a href="#" class="list-group-item list-group-item-action "
                       th:text="*{'PostCode: ' + postCode}"></a>
                    <a href="#" class="list-group-item list-group-item-action "
                       th:text="*{'Adress: ' + address}"></a>
                    <a href="#" class="list-group-item list-group-item-action "
                       th:text="*{'PhoneNumber: ' + phoneNumber}"></a>
                </div>
            </div>
        </div>
    </div>
    <th:block th:insert="parts/footer.html :: afterFooter"></th:block><!-- End #footer --></div>
</body>
</html>