<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="admins/parts/head.html :: head">

</head>
<body style="background-color: #eee">
<div class="container-fluid">

    <row>
        <nav th:include="admins/parts/header.html :: header" class="navbar navbar-expand-lg navbar-dark bg-primary"></nav>
    </row>
    <br>
    <a class="btn btn-primary"  href="/admins/users/add"
       role="button" aria-expanded="false" aria-controls="collapseExample">
        Add new User
    </a>

    <h1><br>User List</h1>
    <br>
    <ul th:if="${users.empty}">
        <li colspan="2"> No User Available </li>
    </ul>
    <div class="card-group">
        <div class="list-group" th:each="user : ${users}">
            <div class="card" style="text-align: center">
                <a href="#" class="list-group-item list-group-item-action active"
               th:text="${'ID: ' + user.id}">
            </a>
            <a href="#" class="list-group-item list-group-item-action "
               th:text="${'Username: ' + user.username}"></a>
            <a href="#" class="list-group-item list-group-item-action "
               th:text="${'FirstName: ' + user.firstName}"></a>
            <a href="#" class="list-group-item list-group-item-action "
               th:text="${'LastName: ' + user.lastName}"></a>
            <a href="#" class="list-group-item list-group-item-action "
               th:text="${user.email != null ? 'Email: ' + user.email : 'Email: '}"> </a>
            <a href="#" class="list-group-item list-group-item-action "
               th:text="${'PostCode: ' + user.postCode}"></a>
            <a href="#" class="list-group-item list-group-item-action "
               th:text="${'Adress: ' + user.address}"></a>
            <a href="#" class="list-group-item list-group-item-action "
               th:text="${'PhoneNumber: ' + user.phoneNumber}"></a>


            <a th:href="@{/admins/delete(id=${user.id})}"
               class="list-group-item list-group-item-action" style="color: #007bff">DELETE</a>

                <a th:href="@{/admins/users/edit/{path}(path=${user.id})}"
                   class="list-group-item list-group-item-action" style="color: #007bff">EDIT</a>

        </div>
    </div>
    </div>
</body>
</html>