<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="parts/head.html :: head(title='User')">
</head>
<body style="background-color: #eee">
<div id="wrapper" style="min-height: 100vh">
    <header th:insert="admins/parts/header.html :: header_v(url_active='users')"></header>
    <div class="container">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
    <div id="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index">Home</a></li>
                <li><a href="/admins/users">Users</a></li>
                <li class="active" th:text="${user.id}"></li>
            </ul>
        </div>
    </div>
    <div class="container mt-5">
            <div class="row">

                <th:block th:if="${hasErrors != null}">
                    <h4 style="color: #a94442; margin-left: 14px;">Please correct the problems below and resubmit.</h4>
                </th:block>

                <form method="post" enctype="multipart/form-data">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h2 class="sub-title">Details</h2>

                        <label class="control-label" style="color: #a94442;" th:if="${userExist != null}"
                               th:text="${userExist}"></label>
                        <label class="control-label" style="color: #a94442;" th:if="${usernameError != null}"
                               th:text="${usernameError}"></label>
                        <div class="input-group"
                             th:attrappend="class=${userExist != null || usernameError != null ? ' has-error my-has-error' : ''}">
                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                            class="input-text">Username*</span></span>
                            <input type="text" class="form-control input-lg" placeholder="Username" name="username"
                                   th:value="${user != null ? user.username : ''}"
                                   th:attrappend="style=${userExist != null || usernameError != null ? 'border: 1px solid #a94442;' : ''}">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                                    class="input-text">First name</span></span>
                            <input type="text" class="form-control input-lg" placeholder="First name" name="firstName"
                                   th:value="${user != null ? user.firstName : ''}"></div>

                        <div class="input-group">
                            <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                                    class="input-text">last name</span></span>
                            <input type="text" class="form-control input-lg" placeholder="Last name" name="lastName"
                                   th:value="${user != null ? user.lastName : ''}"></div>

                        <div class="input-group">
                            <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                                    class="input-text">Post code</span></span>
                            <input type="text" class="form-control input-lg" placeholder="code" name="postCode"
                                   th:value="${user != null ? user.postCode : ''}"></div>

                        <div class="input-group">
                            <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                                    class="input-text">address</span></span>
                            <input type="text" class="form-control input-lg" placeholder="Address" name="address"
                                   th:value="${user != null ? user.address : ''}"></div>

                        <label class="control-label" style="color: #a94442;" th:if="${emailError != null}" th:text="${emailError}"></label>
                        <div class="input-group"
                             th:attrappend="class=${emailError != null ? ' has-error my-has-error' : ''}">
                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                            class="input-text">Email*</span></span>
                            <input type="text" class="form-control input-lg" placeholder="Email"
                                   name="email"
                                   th:value="${user != null ? user.email : ''}"
                                   th:attrappend="style=${emailError != null ? 'border: 1px solid #a94442;' : ''}"></div>

                        <label class="control-label" style="color: #a94442;" th:if="${phoneNumberError != null}" th:text="${phoneNumberError}"></label>
                        <div class="input-group"
                             th:attrappend="class=${phoneNumberError != null ? ' has-error my-has-error' : ''}">
                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                            class="input-text">phone</span></span>
                            <input type="text" class="form-control input-lg" placeholder="phoneNumber"
                                   name="phoneNumber"
                                   th:value="${user != null ? user.phoneNumber : ''}"
                                   th:attrappend="style=${phoneNumberError != null ? 'border: 1px solid #a94442;' : ''}"></div>

                        <div class="input-group">
                    <span class="input-group-addon"><span class="input-icon input-icon-country"></span><span
                            class="input-text">Active*</span></span>
                            <div class="large-selectbox clearfix">
                                <select id="select-active" name="active" class="selectbox" title="active">
                                    <option th:value="${user.active}" th:text="${user.active}"></option>
                                    <option th:value="${user.active ? 'false' : 'true'}" th:text="${user.active? 'false' : 'true'}"></option>
                                </select>
                            </div><!-- End .large-selectbox-->
                        </div><!-- End .input-group -->

                        <style>
                            input[type="checkbox"] {
                                display: none;
                            }

                            input[type="checkbox"]:checked + label span {
                                transform: scale(1.25);
                                border: #262626 solid 2px;
                            }
                        </style>
                        <div id="product-size" class="collapse in">
                            <div class="panel-body" style="border: 1px solid #e4e2e2; background-color: #fcfcfc;">
                                <ul class="filter-color-list clearfix">
                                    <th:block th:each="role : ${roles}">
                                        <input th:checked="${#strings.contains(user.getRoles(), role)}" type="checkbox" name="roles" th:id="${role}"
                                               th:value="${role}"/>
                                        <label th:class="label-size" th:for="${role}">
                                            <span th:text="${role}"></span>
                                        </label>
                                    </th:block>
                                </ul>
                            </div><!-- End .panel-body -->
                        </div><!-- #collapse -->

                        <div class="form-group" style="text-align: center">
                            <input type="submit" value="update" class="btn btn-custom-2 md-margin">
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                </form>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h2 class="sub-title">Password</h2>

                        <form th:action="'/admins/users/password/' + ${user.id}">
                            <label class="control-label" style="color: #a94442;"
                                   th:if="${passwordError != null}" th:text="${passwordError}"></label>
                            <div class="input-group"
                                 th:attrappend="class=${passwordError != null ? ' has-error my-has-error' : ''}">
                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                            class="input-text">password*</span></span>
                                <input type="text" class="form-control input-lg" placeholder="password"
                                       name="password"
                                       th:attrappend="style=${passwordError != null ? 'border: 1px solid #a94442;' : ''}"></div>

                            <label class="control-label" style="color: #a94442;"
                                   th:if="${errorConfirm != null}" th:text="${errorConfirm}"></label>
                            <div class="input-group"
                                 th:attrappend="class=${errorConfirm != null ? ' has-error my-has-error' : ''}">
                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                            class="input-text">password*</span></span>
                                <input type="text" class="form-control input-lg" placeholder="Confirm password"
                                       name="confirmPassword"
                                       th:attrappend="style=${errorConfirm != null ? 'border: 1px solid #a94442;' : ''}"></div>

                            <div class="form-group" style="text-align: center">
                                <input type="submit" value="update" class="btn btn-custom-2 md-margin">
                            </div>
                        </form>

                        <h2 class="sub-title">Payment</h2>

                            <div class="row">

                                <th:block th:if="${paymentHasErrors != null}">
                                    <h4 style="color: #a94442; margin-left: 14px;">Please correct the problems below and resubmit.</h4>
                                </th:block>

                                <form method="post" enctype="multipart/form-data" action="'/admins/users/' + ${user.id} + '/payment/update'">

                                    <label class="control-label" style="color: #a94442;" th:if="${ccNumberError != null}" th:text="${ccNumberError}"></label>
                                    <div class="input-group"
                                         th:attrappend="class=${ccNumberError != null ? ' has-error my-has-error' : ''}">
                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                            class="input-text">ccNumber*</span></span>
                                        <input type="text" class="form-control input-lg" placeholder="ccNumber"
                                               name="ccNumber"
                                               th:value="${payment != null ? payment.ccNumber : ''}"
                                               th:attrappend="style=${ccNumberError != null ? 'border: 1px solid #a94442;' : ''}"></div>

                                    <label class="control-label" style="color: #a94442;" th:if="${ccExpirationError != null}" th:text="${ccExpirationError}"></label>
                                    <div class="input-group"
                                         th:attrappend="class=${ccExpirationError != null ? ' has-error my-has-error' : ''}">
                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                            class="input-text">ccExpiration*</span></span>
                                        <input type="text" class="form-control input-lg" placeholder="ccExpiration"
                                               name="ccExpiration"
                                               th:value="${payment != null ? payment.ccExpiration : ''}"
                                               th:attrappend="style=${ccExpirationError != null ? 'border: 1px solid #a94442;' : ''}"></div>

                                    <label class="control-label" style="color: #a94442;" th:if="${ccCVVError != null}" th:text="${ccCVVError}"></label>
                                    <div class="input-group"
                                         th:attrappend="class=${ccCVVError != null ? ' has-error my-has-error' : ''}">
                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                            class="input-text">ccCVV*</span></span>
                                        <input type="text" class="form-control input-lg" placeholder="ccCVV"
                                               name="ccCVV"
                                               th:value="${payment != null ? payment.ccCVV : ''}"
                                               th:attrappend="style=${ccCVVError != null ? 'border: 1px solid #a94442;' : ''}"></div>
                                    <div class="form-group" style="text-align: center">
                                        <input type="submit" value="update" class="btn btn-custom-2 md-margin">
                                    </div>
                                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                                </form>
                            </div>
                    </div>
            </div>
        </div>
    </div>
    <th:block th:insert="parts/footer.html :: afterFooter"></th:block><!-- End #footer -->
</div>
</body>
</html>