<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="admins/parts/head.html :: head">

</head>
<body>
<div class="container-fluid">

    <row>
        <nav th:include="admins/parts/header.html :: header" class="navbar navbar-expand-lg navbar-dark bg-primary"></nav>
    </row>
    <br>
    <row  th:object="${user}">
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Add new User
        </a>

        <div class="collapse " th:attrappend="class=${#fields.hasErrors()} ? ' show' + ''" id="collapseExample">
            <div class="form-group mt-3">
                <form method="post" enctype="multipart/form-data" th:action="@{'/admins/users/add'}">
                    <div class="form-group">
                        <h5 th:if="${#fields.hasErrors()}">Please correct the problems below and resubmit.</h5>

                        <input type="text" class="form-control"
                              th:attrappend="class=${#fields.hasErrors('username')} ? ' is-invalid' + ''"
                              th:field="*{username}" name="username" placeholder="Input username"
                        />
                        <span class="validationError text-danger"
                              th:if="${#fields.hasErrors('username')}"  th:errors="*{username}">
                        </span>
                        <input type="text" class="form-control"
                               th:field="*{firstName}" name="firstName" placeholder="Input firstName" />
                        <input type="text" class="form-control"
                               th:field="*{lastName}" name="lastName" placeholder="Input lastName" />
                        <input type="text" class="form-control"
                               th:attrappend="class=${#fields.hasErrors('email')} ? ' is-invalid' + ''"
                               th:field="*{email}" name="email" placeholder="Input email"
                        />
                        <span class="validationError text-danger"
                              th:if="${#fields.hasErrors('email')}"  th:errors="*{email}">
                        </span>
                        <input type="text" class="form-control"
                               th:attrappend="class=${#fields.hasErrors('password')} ? ' is-invalid' + ''"
                               th:field="*{password}" name="password" placeholder="Input password"
                        />
                        <span class="validationError text-danger"
                              th:if="${#fields.hasErrors('password')}"  th:errors="*{password}">
                        </span>
                        <input type="text" class="form-control"
                               th:attrappend="class=${#fields.hasErrors('password2')} ? ' is-invalid' + ''"
                               th:field="*{password2}" name="password2" placeholder="Input password2"
                        />
                        <span class="validationError text-danger"
                              th:if="${#fields.hasErrors('password2')}"  th:errors="*{password2}">
                        </span>
                        <input type="text" class="form-control"
                               th:field="*{postCode}" name="postCode" placeholder="Input postCode" />
                        <input type="text" class="form-control"
                               th:field="*{address}" name="address" placeholder="Input address" />
                        <input type="text" class="form-control"
                               th:attrappend="class=${#fields.hasErrors('phoneNumber')} ? ' is-invalid' + ''"
                               th:field="*{phoneNumber}" name="phoneNumber" placeholder="Input phoneNumber"
                        />
                        <span class="validationError text-danger"
                              th:if="${#fields.hasErrors('phoneNumber')}"  th:errors="*{phoneNumber}">
                        </span>

                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                </form>
            </div>
        </div>
    </row>

    <h1><br>User List</h1>
    <br>
    <ul th:if="${users.empty}">
        <li colspan="2"> No User Available </li>
    </ul>
    <div class="card-group">
        <div class="list-group" th:each="user : ${users}">
            <div class="card" style="text-align: center">
                <a href="#" class="list-group-item list-group-item-action active"
               th:text="${'ID: ' + user.id}">
            </a>
            <a href="#" class="list-group-item list-group-item-action disabled"
               th:text="${'Username: ' + user.username}"></a>
            <a href="#" class="list-group-item list-group-item-action disabled"
               th:text="${'FirstName: ' + user.firstName}"></a>
            <a href="#" class="list-group-item list-group-item-action disabled"
               th:text="${'LastName: ' + user.lastName}"></a>
            <a href="#" class="list-group-item list-group-item-action disabled"
               th:text="${user.email != null ? 'Email: ' + user.email : 'Email: '}"> </a>
            <a href="#" class="list-group-item list-group-item-action disabled"
               th:text="${'PostCode: ' + user.postCode}"></a>
            <a href="#" class="list-group-item list-group-item-action disabled"
               th:text="${'Adress: ' + user.address}"></a>
            <a href="#" class="list-group-item list-group-item-action disabled"
               th:text="${'PhoneNumber: ' + user.phoneNumber}"></a>


            <a th:href="@{/admins/delete(id=${user.id})}" class="list-group-item list-group-item-action" style="color: #007bff"
               >delete user</a>
                <button  type="button" class="my-button"  data-toggle="modal" th:data-target="'#' + ${user.id}">
                    edit
                </button>
                <div class="modal fade" th:id="${user.id}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form enctype="multipart/form-data" th:action="@{'/admins/edit/' + ${user.id}}" method="post">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" th:text="'Edit user № ' + ${user.id}"></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="text" class="form-control" th:value="${user.username != null ? user.username : ''}"
                                               name="username" placeholder="Input username" /></div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" th:value="${user.firstName != null ? user.firstName : ''}"
                                               name="firstName" placeholder="Input firstName" /></div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" th:value="${user.lastName != null ? user.lastName : ''}"
                                               name="lastName" placeholder="Input lastname"></div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" th:value="${user.postCode != null ? user.postCode : ''}"
                                               name="postCode" placeholder="Input postCode"></div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" th:value="${user.phoneNumber != null ? user.phoneNumber : ''}"
                                               name="phoneNumber" placeholder="Input phoneNumber"></div>
                                    <div class="form-group">
                                        <input  type="text" class="form-control" th:value="${user.address != null ? user.address : ''}"
                                                name="address" placeholder="Input address"></div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" th:value="${user.email != null ? user.email : ''}"
                                               name="email" placeholder="Input Email"></div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" th:value="${user.Password != null ? user.Password : ''}"
                                               name="Password" placeholder="Input Password"></div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" th:value="${user.Password2 != null ? user.Password2 : ''}"
                                               name="Password2" placeholder="Input Password2"></div>

                                    <h5 >Roles</h5>
                                        <th:block th:each="role : ${roles}">
                                            <p><input  type="checkbox" th:name="${role}"
                                            th:checked="${#strings.contains(user.getRoles(),role)} ? 'checked' : 'No'"> [[${role}]]</p>
                                        </th:block>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            </form>
                        </div><!-- /.модальное окно-Содержание -->
                    </div><!-- /.модальное окно-диалог -->
                </div><!-- /.модальное окно -->

        </div>
    </div>
    </div>
</body>
</html>