<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

            <nav th:fragment="header" >
                <a class="navbar-brand" href="/admins/indexAdmin">Spring Boot App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" th:attrappend="class=${#strings.contains(url_active,'indexAdmin') ? ' active': ''}">
                            <a class="nav-link" href="/admins/indexAdmin">Home</a>
                        </li>
                        <li class="nav-item" th:attrappend="class=${#strings.contains(url_active,'product') ? ' active': ''}">
                            <a class="nav-link" href="/admins/product">Product</a>
                        </li>
                        <li class="nav-item" th:attrappend="class=${#strings.contains(url_active,'message') ? ' active': ''}">
                            <a class="nav-link" href="/admins/message">Message</a>
                        </li>
                        <li class="nav-item" th:attrappend="class=${#strings.contains(url_active,'users') ? ' active': ''}">
                            <a class="nav-link" href="/admins/users">Users</a>
                        </li>
                        <li class="nav-item" th:attrappend="class=${#strings.contains(url_active,'orders') ? ' active': ''}">
                            <a class="nav-link" href="/admins/orders">Orders</a>
                        </li>
                        <li class="nav-item" th:attrappend="class=${#strings.contains(url_active,'slider') ? ' active': ''}">
                            <a class="nav-link" href="/admins/slider">Slider</a>
                        </li>
                    </ul>
                    <form th:action="@{/logout}" method="post">
                        <button class="btn btn-primary" type="submit">Sign Out</button>
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    </form>
                </div>
            </nav>
