<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="slider_product(slider,level_number)">
    <th:block th:if="${slider != null}">
        <a th:href="'/admins/product?id=' + ${slider.product.id}" alt="">
            <p th:text="${'id: ' + slider.product.id + ' __  name: ' + slider.product.name}"></p>
        </a>
        <form th:action="'/admins/slider/delete/' + ${level_number}" method="post">
            <button class="btn btn-primary" type="submit">Delete slider</button>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        </form>
        <br>
    </th:block>
    <th:block th:unless="${slider != null}">
        <form th:action="'/admins/slider/add/' + ${level_number}" method="post">
            <select class="form-control" name="product_id" title="product_id">
                <th:block th:each="id : ${ids}">
                    <option>[[${id}]]</option>
                </th:block>
            </select>
            <button class="btn btn-primary" type="submit">Add Slider</button>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        </form>
    </th:block>
</th:block>

<th:block th:fragment="slider_img(slider,level_number)">
    <form th:if="${slider?.filename != null}"
          th:action="${'/admins/slider/imageDelete/' + level_number}" method="post">
        <img th:src="'/img/' + ${slider.filename}">
        <button class="btn btn-primary" type="submit">Delete slider image</button>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    </form>
    <form th:unless="${slider?.filename != null}"
          th:action="${'/admins/slider/imageAdd/' + level_number}" method="post"
          enctype="multipart/form-data">
        <div class="form-group">
            <div class="custom-file">
                <input type="file" id="file" name="file" multiple>
                <label class="custom-file-label" for="file">Choose slider image</label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Add image</button>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    </form>

</th:block>