<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>1 - доступ к переменным</h3>

    var - пример обьекта

    ${...} - обьект типа который был передан в модель

    <h3>2 - к элементам массива</h3>

    ${var[2]} - к элементу
    ${var[2].field} - к элементу

    <h3>3 - Asterisk syntax *{...}</h3>

    <div th:object="${object}">
        <div>
            <label for="name">Name</label>
            <span id="name" th:text="*{name}"></span>
        </div>
    </div>

    <h3>4 -  Link expression @{..}</h3>

    <a th:href="@{http://localhost:8080/admins/users}">
        absolute link
    </a>
    <a th:href="@{/admins/users}">
        relative link
    </a>
    <a th:href="@{/admins/users(status=${'test'}, dez=${'dez'})}">
        with parametr link
    </a>
    <a th:href="@{/admins/{path}/users(path=${'some'})}">
        with dynamic path link
    </a>

    <h3>5 - message expression #{...}
        19 минута ролика - https://www.youtube.com/watch?v=NrTbzfeJcwc
        про экранирование и не экранирование
        и переменные из application.property </h3>

    <h3>6 - Fragment expression ~{...}
        ОТдельное видео</h3>

    <h3>7 - Literals</h3>

    <span th:text="${'1' + '2'}"></span>
    <span th:text="|1010|">вернет строку хз</span>

    <span th:text="${5 > 3}"> true </span>
    <span th:text="${6 gt 9}"> false </span>
    <span th:text="${3 == 3}"> true </span>

    <span th:text="${3 * 3}"> 15 </span>
    <span th:text="${6 / 9}"> 0 </span>

    <span th:text="${var != null ? var : null}">  </span>
    <span th:text="${false ? _ : 'defaul message'}">
        если условие не выполнилось, то деволт мессадже</span>

    <h3>8 - Attribute</h3>

    добавить аттриут атрибута
    <label for="lola"> th:attr : </label>
    <input id="lola" th:attr="value=${var}, style='color: blue'">

    добавить к классу
    <span class="first-class" th:attrappend="class=${' ' + 'class-two'}"></span>

    th:each
        <tr th:each="user, index : ${users}" >
            <td th:text="${user.name}"></td>
            <td th:text="${index}"></td>
        </tr>
    индекс не число а обьект в котором лежит
    {index = 0, count = 1, size = 3, current = обьект}

    th:if
    <div>
        <div th:if="${users.size() > 2}" >
            <p>Yes</p>
        </div>
        <div th:unless="${users.size() > 2}" >
            <p>No</p>
        </div>
    </div>

    th:swith
    <div th:switch="${users[0].gender.toString()}">
        <p th:case="'MALE'"> man</p>
        <p th:Case="'FaMALE'"> women</p>

    </div>

    th:onclick - хз это js

    th:block - ЕДИНСТВЕННЫЙ ТЕГ А НЕ АТРИБУТ
    <th:block th:if="true">
            <p>AGA</p>
    </th:block>

    Инлайнинг
    <span> hello, [[${var}]]</span>
    аналогично
    <span>Hello, <span th:text="${var}"></span></span>
    экранированные переменные
    <span> hello, [(${var})]</span>

    Инлайнинг везде по умолчанию
    Чтобы отключить
    <p th:inline="none"></p>


    thymeleaf РАБОТАЕТ С JavaScript
    https://www.youtube.com/watch?v=NrTbzfeJcwc
    43 ми

    Также Инлайнинг в CSS

    ОШИБКИ
    <div th:object="${users}">
        <input type="text" th:field="*{name}">
        <th:block th:if="${#fields.hasErrors('name')}">
            <div th:errorclass="invalid-input"
                 th:errors="*{name}"></div>
        </th:block>
    </div>

    <div th:insert="/asd/footer :: ( false     ? 'footer' : 'footer2')"></div>


</body>
</html>
