<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie8"> <![endif]-->
<!--[if IE 9]>
<html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html> <!--<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="parts/head.html :: head"></head>
<body>
<div id="wrapper">
    <header th:insert="parts/header.html :: header"></header>

    <section id="content">
        <div id="breadcrumb-container">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="index">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ul>
            </div>
        </div>

        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <header class="content-title">
                        <h1 class="title">Shopping Cart</h1>
                        <p class="title-desc">Just this week, you can use the free premium delivery.</p>
                    </header>
                    <div class="xs-margin"></div><!-- space -->

                    <th:block th:if="${products != null}">
                        <div class="row" th:class="for_cart">

                            <div class="col-md-12 table-responsive">

                                <table class="table cart-table">
                                    <thead>
                                    <tr>
                                        <th class="table-title">Product Name</th>
                                        <th class="table-title">Product Code</th>
                                        <th class="table-title">Unit Price</th>
                                        <th class="table-title">Quantity</th>
                                        <th class="table-title">SubTotal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="product : ${products}">
                                        <tr th:object="${product}" th:id="'tr_product_id_' + ${product.id}">
                                            <td class="item-name-col">
                                                <figure>
                                                    <a th:if="*{filename != null}" th:href="'/product/' + *{id}"><img th:src="*{'/img/' + filename}" th:alt="*{name}"></a>
                                                    <a th:unless="*{filename != null}"  href="#"><img src="/images/products/compare1.jpg" th:alt="*{name}"></a>
                                                </figure>
                                                <header class="item-name"><a
                                                        th:href="'/product/' + *{id}">[[*{name}]]</a>
                                                </header>
                                                <ul>
                                                    <li style="margin-bottom: 14px;">Color: <label th:if="${colors != null}" th:class="label-color">
                                                        <span 
                                                            th:attr="style='background-color: rgb( ' + ${colors.get(product.id) + '); margin-top: 16px;'}"></span>
                                                    </label>
                                                    </li>
                                                    <li th:text="${sizes != null  ? 'Size: ' + sizes.get(product.id) : ''}"></li>
                                                </ul>
                                            </td>
                                            <td class="item-code">[[*{id}]]</td>
                                            <td class="item-price-col"><span class="item-price-special"
                                                                             th:value="*{price}">[[*{price}]]</span>
                                            </td>
                                            <td>
                                                <div class="custom-quantity-input">
                                                    <input disabled type="text" name="quantity" th:id="'count-' + *{id}" value="1">
                                                    <a th:onclick="'counterChange(' + *{id} + ', 1);'"
                                                       class="quantity-btn quantity-input-up"><i
                                                            class="fa fa-angle-up"></i></a>
                                                    <a th:onclick="'counterChange(' + *{id} + ', -1);'"
                                                       class="quantity-btn quantity-input-down"><i
                                                            class="fa fa-angle-down"></i></a>
                                                </div>
                                            </td>
                                            <td class="item-total-col">
                                                <span class="item-price-special" th:id="'price-' + *{id}"
                                                      th:value="*{price}">[[*{price}]]</span>
                                                <a th:onclick="'deleteProduct(' + *{id} + ');'"
                                                   class="close-button"></a>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>

                                </table>
                                <div class="md-margin2x"></div><!-- Space -->

                            </div><!-- End .col-md-12 -->

                        </div><!-- End .row -->
                        <div class="lg-margin"></div><!-- End .space -->

                        <div class="row for_cart">
                            <div class="col-md-8 col-sm-12 col-xs-12 lg-margin">

                                <div class="tab-container left clearfix">
                                    <ul class="nav-tabs">
                                        <li class="active"><a href="#shipping" data-toggle="tab">Shipping &amp;
                                            Taxes</a></li>
                                        <li><a href="#discount" data-toggle="tab">Discount Code</a></li>
                                        <li><a href="#gift" data-toggle="tab">Gift voucher </a></li>

                                    </ul>
                                    <div class="tab-content clearfix">
                                        <div class="tab-pane active" id="shipping">

                                            <form action="#" id="shipping-form">
                                                <p class="shipping-desc">Enter your destination to get a shipping
                                                    estimate.</p>
                                                <div class="form-group">
                                                    <label for="select-country"
                                                           class="control-label">Country&#42;</label>
                                                    <div class="input-container normal-selectbox">
                                                        <select id="select-country" name="select-country"
                                                                class="selectbox">
                                                            <option value="Japan">Japan</option>
                                                            <option value="Brazil">Brazil</option>
                                                            <option value="France">France</option>
                                                            <option value="Italy">Italy</option>
                                                            <option value="Spain">Spain</option>
                                                        </select>
                                                    </div><!-- End .select-container -->
                                                </div><!-- End .form-group -->
                                                <div class="xss-margin"></div>
                                                <div class="form-group">
                                                    <label for="select-state"
                                                           class="control-label">Regison/State&#42;</label>
                                                    <div class="input-container normal-selectbox">
                                                        <select id="select-state" name="select-state" class="selectbox">
                                                            <option value="California">California</option>
                                                            <option value="Texas">Texas</option>
                                                            <option value="NewYork">NewYork</option>
                                                            <option value="Narnia">Narnia</option>
                                                            <option value="Jumanji">Jumanji</option>
                                                        </select>
                                                    </div><!-- End .select-container -->
                                                </div><!-- End .form-group -->
                                                <div class="xss-margin"></div>
                                                <div class="form-group">
                                                    <label for="select-country" class="control-label">Post
                                                        Code&#42;</label>
                                                    <div class="input-container">
                                                        <input type="text" required class="form-control"
                                                               placeholder="Your fax">
                                                    </div>
                                                </div><!-- End .form-group -->
                                                <div class="xss-margin"></div>
                                                <p class="text-right">
                                                    <input type="submit" class="btn btn-custom-2" value="GET QUOTES">
                                                </p>
                                            </form>

                                        </div><!-- End .tab-pane -->

                                        <div class="tab-pane" id="discount">
                                            <p>Enter your discount coupon code here.</p>
                                            <form action="#">
                                                <div class="input-group">
                                                    <input type="text" required class="form-control"
                                                           placeholder="Coupon code">

                                                </div><!-- End .input-group -->
                                                <input type="submit" class="btn btn-custom-2" value="APPLY COUPON">
                                            </form>
                                        </div><!-- End .tab-pane -->

                                        <div class="tab-pane" id="gift">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi
                                                dignissimos nostrum debitis optio molestiae in quam dicta labore
                                                obcaecati ullam necessitatibus animi deleniti minima dolor suscipit
                                                nobis est excepturi inventore.</p>
                                        </div><!-- End .tab-pane -->

                                    </div><!-- End .tab-content -->
                                </div><!-- End .tab-container -->

                            </div><!-- End .col-md-8 -->

                            <div class="col-md-4 col-sm-12 col-xs-12" style="text-align: center;">

                                <table class="table total-table">
                                    <tbody>
                                    <tr>
                                        <td class="total-table-title">Subtotal:</td>
                                        <td>$434.50</td>
                                    </tr>
                                    <tr>
                                        <td class="total-table-title">Shipping:</td>
                                        <td>$0.00</td>
                                    </tr>
                                    <tr>
                                        <td class="total-table-title">TAX (0%):</td>
                                        <td>$0.00</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td>Total:</td>
                                        <td th:id="total_price"></td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div class="md-margin"></div><!-- End .space -->
                                <a href="/checkout" class="btn btn-custom-2">CONTINUE SHOPPING</a>
                            </div><!-- End .col-md-4 -->
                        </div><!-- End .row -->

                        <div class="md-margin2x"></div><!-- Space -->
                    </th:block>
                        <div th:attrappend="style=${products != null ? 'display: none' : ''}" th:id="empty_cart">
                            <div class="lg-margin"></div><!-- Space -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="no-content-comment" style="text-align: center;">
                                            <h2>cart is empty(</h2>
                                        </div><!-- End .no-content-comment -->
                                    </div><!-- End .col-md-12 -->
                                </div><!-- End .row -->
                            </div><!-- End .container -->
                            <div class="md-margin2x"></div><!-- Space -->
                        </div>
                    <div class="similiar-items-container carousel-wrapper">
                        <header class="content-title">
                            <div class="title-bg">
                                <h2 class="title">Similiar Products</h2>
                            </div><!-- End .title-bg -->
                            <p class="title-desc">Note the similar products - after buying for more than $500 you can
                                get a discount.</p>
                        </header>

                        <div class="carousel-controls">
                            <div id="similiar-items-slider-prev" class="carousel-btn carousel-btn-prev"></div>
                            <!-- End .carousel-prev -->
                            <div id="similiar-items-slider-next"
                                 class="carousel-btn carousel-btn-next carousel-space"></div><!-- End .carousel-next -->
                        </div><!-- End .carousel-controls -->
                        <div class="similiar-items-slider owl-carousel">
                            <th:block th:each="product : ${also_purchased_products}">
                                <div th:include="parts/pager.html :: also_purchased(${product})"></div>
                            </th:block>
                        </div><!--purchased-items-slider -->
                    </div><!-- End .purchased-items-container -->

                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

    </section><!-- End #content -->

    <footer th:insert="parts/footer.html :: footer"></footer><!-- End #footer -->
</div><!-- End #wrapper -->

<th:block th:insert="parts/footer.html :: afterFooter"></th:block><!-- End #footer -->

</body>
</html>