<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie8"> <![endif]-->
<!--[if IE 9]>
<html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html> <!--<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="parts/head.html :: head"></head>
<body>
<div id="wrapper">
    <header th:insert="parts/header.html :: header"></header>
    <!-- End #header -->

    <section id="content">
        <div id="category-header">
            <div class="row">
                <th:block th:if="${productForTop != null}">
                    <div class="container" th:object="${productForTop}">
                        <div class="col-2">
                            <div class="category-image">
                                <img th:if="*{filename != null}" th:src="*{'/img/' + filename}" alt="Phone"
                                     class="img-responsive">
                                <img th:unless="*{filename != null}" src="images/products/category-show.png" alt="Phone"
                                     class="img-responsive">

                            </div><!-- End .category-image -->

                        </div><!-- End .col-2 -->

                        <div class="col-2 last">
                            <div class="category-title">
                                <h2 th:text="*{name}"></h2>
                                <p th:text="*{description}"></p>
                                <a th:href="*{'/product/' + id}" class="btn btn-custom">LEARN
                                    MORE</a>
                            </div><!-- End .category-title -->
                        </div><!-- End .col-2 -->
                    </div><!-- End .container -->
                </th:block>
            </div><!-- End .row -->
        </div><!-- End #category-header -->
        <div id="category-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Electronics</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="row">

                        <div class="col-md-9 col-sm-8 col-xs-12 main-content">

                            <div class="category-toolbar clearfix">
                                <div class="toolbox-filter clearfix">

                                    <div class="sort-box">

                                        <span class="separator">sort by:</span>
                                        <div class="btn-group select-dropdown">
                                            <button type="button" class="btn select-btn">Position</button>
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a th:href="${url} + '?filter=id&' + ${setParam}">Date</a></li>
                                                <li><a th:href="${url} + '?filter=name&' + ${setParam}">Name</a></li>
                                                <li><a th:href="${url} + '?filter=price&' + ${setParam}">Price</a></li>
                                                <li><a th:href="${url} + '?filter=sale&' + ${setParam}">Sale</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="view-box">
                                        <a th:href="${url} + '?show=tile&' + ${setParam}" class="icon-button icon-grid">
                                            <i class="fa fa-th-large"></i></a>
                                        <a th:href="${url} + '?show=list&' + ${setParam}" class="icon-button icon-list">
                                            <i class="fa fa-th-list"></i></a>
                                    </div><!-- End .view-box -->
                                </div><!-- End .toolbox-filter -->

                                <th:block th:include="parts/pager.html :: pager(${url}, ${page},${listpages},${setParam})"></th:block>

                            </div><!-- End .category-toolbar -->
                            <div class="md-margin"></div><!-- .space -->
                            <th:block th:if="${param.show!=null}">
                                <th:block th:if="${#strings.contains(param.show,'tile')}">
                                    <div class="category-item-container category-list-container"
                                         th:each="product : ${page}">
                                        <div th:include="parts/pager.html :: itemTile(${product})"></div>
                                    </div><!-- End .category-item-container -->
                                </th:block>
                                <th:block th:unless="${#strings.contains(param.show,'tile')}">
                                    <div class="category-item-container" th:each="product : ${page}">
                                        <div th:include="parts/pager.html :: itemList(${product})"></div>
                                    </div><!-- End .category-item-container -->
                                </th:block>
                            </th:block>
                            <th:block th:unless="${param.show!=null}">
                                <div class="category-item-container" th:each="product : ${page}">
                                    <div th:include="parts/pager.html :: itemTile(product)(${product})"></div>
                                </div><!-- End .category-item-container -->
                            </th:block>
                            <th:block th:if="${page.getNumberOfElements() == 0}">
                                <h1>No Products</h1>
                            </th:block>
                            <div class="row"></div>

                            <th:block th:include="parts/pager.html :: pager(${url}, ${page},${listpages},${setParam})"></th:block>

                        </div><!-- End .col-md-9 -->

                        <aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
                            <div class="widget">
                                <div class="panel-group custom-accordion sm-accordion" id="category-filter">
                                    <div class="panel">
                                        <div class="accordion-header">
                                            <div class="accordion-title"><span>Category</span></div>
                                            <!-- End .accordion-title -->
                                            <a class="accordion-btn opened" data-toggle="collapse"
                                               data-target="#category-list-1"></a>
                                        </div><!-- End .accordion-header -->

                                        <div id="category-list-1" class="collapse in">
                                            <div class="panel-body">
                                                <ul class="category-filter-list jscrollpane">
                                                    <th:block th:each=" category: ${filterCategory}">
                                                        <li><a
                                                                th:href="${url} + '?category=' + ${category.id} + '&' + ${setParam}"
                                                                th:text="${category.name} + '(' + ${category.getProducts().size()} + ')'"
                                                        ></a></li>
                                                    </th:block>
                                                </ul>
                                            </div><!-- End .panel-body -->
                                        </div><!-- #collapse -->
                                    </div><!-- End .panel -->

                                    <div class="panel">
                                        <div class="accordion-header">
                                            <div class="accordion-title"><span>Brand</span></div>
                                            <!-- End .accordion-title -->
                                            <a class="accordion-btn opened" data-toggle="collapse"
                                               data-target="#category-list-2"></a>
                                        </div><!-- End .accordion-header -->

                                        <div id="category-list-2" class="collapse in">
                                            <div class="panel-body">
                                                <ul class="category-filter-list jscrollpane">
                                                    <th:block th:each=" brand: ${filterBrand}">
                                                        <li><a
                                                                th:href="${url} + '?brand=' + ${brand.name} + '&' + ${setParam}"
                                                                th:text="${brand.name} + '(' + ${brand.getProducts().size()} + ')'"
                                                        ></a></li>
                                                    </th:block>
                                                </ul>
                                            </div><!-- End .panel-body -->
                                        </div><!-- #collapse -->
                                    </div><!-- End .panel -->

                                    <div class="panel">
                                        <div class="accordion-header">
                                            <div class="accordion-title"><span>Price</span></div>
                                            <!-- End .accordion-title -->
                                            <a class="accordion-btn opened" data-toggle="collapse"
                                               data-target="#category-list-3"></a>
                                        </div><!-- End .accordion-header -->

                                        <div id="category-list-3" class="collapse in">
                                            <div class="panel-body">
                                                <div id="price-range">

                                                </div><!-- End #price-range -->
                                                <div id="price-range-details">
                                                    <span class="sm-separator">from</span>
                                                    <input type="text" id="price-range-low" class="separator">
                                                    <span class="sm-separator">to</span>
                                                    <input type="text" id="price-range-high">
                                                </div>
                                                <div id="price-range-btns">
                                                    <a th:href="${url} + '?price=' + 'none' + '&' + ${setParam}"
                                                       class="btn btn-custom-2 btn-sm">Ok</a>
                                                    <a onclick="clearPriceFilter"
                                                       class="btn btn-custom-2 btn-sm">Clear</a>
                                                </div>

                                            </div><!-- End .panel-body -->
                                        </div><!-- #collapse -->
                                    </div><!-- End .panel -->

                                    <div class="panel">
                                        <div class="accordion-header">
                                            <div class="accordion-title"><span>Color</span></div>
                                            <!-- End .accordion-title -->
                                            <a class="accordion-btn opened" data-toggle="collapse"
                                               data-target="#category-list-4"></a>
                                        </div><!-- End .accordion-header -->

                                        <div id="category-list-4" class="collapse in">
                                            <div class="panel-body">
                                                <ul class="filter-color-list clearfix" style="width: 242px;">
                                                    <th:block th:each="color, i : ${colors}">
                                                        <li><a th:href="${url} + '?color=' + ${color.getRgb()} + '&' + ${setParam}"
                                                               th:attrappend="style=${'background-color: rgb(' + color.getRgb() + ');'}"
                                                               class="filter-color-box"></a></li>
                                                    </th:block>
                                                </ul>
                                            </div><!-- End .panel-body -->
                                        </div><!-- #collapse -->
                                    </div><!-- End .panel -->
                                </div><!-- .panel-group -->
                            </div><!-- End .widget -->

                            <div class="widget featured">
                                <h3>Featured</h3>

                                <div class="featured-slider flexslider sidebarslider">
                                    <ul class="featured-list clearfix">
                                        <th:block th:each="product, i : ${featured_products?.content}">

                                            <th:block th:if="${(i.index+1)%3 == 1}"><li></th:block>

                                            <div class="featured-product clearfix" th:object="${product}">
                                                <figure>
                                                    <img th:if="*{filename != null}" th:src="'/img/' + *{filename}"
                                                         th:alt="*{filename}">
                                                    <img th:unless="*{filename != null}"
                                                         src="/images/products/thumbnails/item6.jpg" alt="none">
                                                </figure>
                                                <h5><a th:href="'/product/' + *{id}">[[*{name}]]</a></h5>
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-result" data-result="84"></div>
                                                    </div><!-- End .ratings -->
                                                </div><!-- End .rating-container -->
                                                <div class="featured-price">[[*{price}]]</div><!-- End .featured-price -->
                                            </div><!-- End .featured-product -->

                                            <th:block th:if="${(i.count+1)%3 == 1}"></li></th:block>

                                        </th:block>
                                    </ul>
                                </div><!-- End .featured-slider -->
                            </div><!-- End .widget -->

                            <div class="widget banner-slider-container">
                                <div class="banner-slider flexslider">
                                    <ul class="banner-slider-list clearfix">
                                        <li><a href="#"><img src="images/banner1.jpg" alt="Banner 1"></a></li>
                                        <li><a href="#"><img src="images/banner2.jpg" alt="Banner 2"></a></li>
                                        <li><a href="#"><img src="images/banner3.jpg" alt="Banner 3"></a></li>
                                    </ul>
                                </div>
                            </div><!-- End .widget -->

                        </aside><!-- End .col-md-3 -->
                    </div><!-- End .row -->


                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

    </section><!-- End #content -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Not registered</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Please register to add to cart.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="/registration">
                        <button type="button" class="btn btn-primary">Registration</button>
                    </a>
                    <a href="/admin">
                        <button type="button" class="btn btn-primary">Login</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer th:insert="parts/footer.html :: footer"></footer><!-- End #footer -->
</div><!-- End #wrapper -->

<th:block th:insert="parts/footer.html :: afterFooter"></th:block><!-- End #footer -->

</body>
</html>