<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie8"> <![endif]-->
<!--[if IE 9]>
<html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html> <!--<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="parts/head.html :: head"></head>
<body>
<div id="wrapper">
    <header th:insert="parts/header.html :: header"></header>
    <!-- End #header -->
    <th:block th:if="${products != null}">
        <section id="content">
            <div id="breadcrumb-container">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Checkout</li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <header class="content-title">
                            <h1 class="title">Checkout</h1>
                            <p class="title-desc">Quisque elementum nibh at dolor pellentesque, a eleifend libero
                                pharetra.</p>
                        </header>
                        <div class="xs-margin"></div><!-- space -->
                        <form action="/orderSuccessful" id="checkout-form" method="post">
                            <div class="panel-group custom-accordion" id="checkout">

                                <div class="panel">
                                    <div class="accordion-header">
                                        <div class="accordion-title">1 Step: <span>Billing Information</span></div>
                                        <!-- End .accordion-title -->
                                        <a class="accordion-btn" data-toggle="collapse" data-target="#billing"
                                           id="billing_id"></a>
                                    </div><!-- End .accordion-header -->

                                    <div id="billing" class="collapse in">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12">

                                                    <h2 class="checkout-title">Your personal details</h2>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span
                                                                class="input-icon input-icon-user"></span><span
                                                                class="input-text">First Name</span></span>
                                                        <input type="text" class="form-control input-lg"
                                                               placeholder="Your First Name"
                                                               th:name="firstName" th:text="${user?.firstName}">
                                                    </div><!-- End .input-group -->

                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span
                                                                class="input-icon input-icon-user"></span><span
                                                                class="input-text">Last Name</span></span>
                                                        <input type="text" class="form-control input-lg"
                                                               placeholder="Your Last Name"
                                                               th:name="lastName" th:text="${user?.lastName}">
                                                    </div><!-- End .input-group -->

                                                    <label class="control-label" style="color: #a94442;"
                                                           th:if="${emailError != null}"
                                                           th:text="${emailError}"></label>
                                                    <div class="input-group"
                                                         th:attrappend="class=${emailError != null ? ' has-error my-has-error' : ''}">
                                                        <span class="input-group-addon"><span
                                                                class="input-icon input-icon-user"></span><span
                                                                class="input-text">Email&#42;</span></span>
                                                        <input type="text" class="form-control input-lg"
                                                               placeholder="Your Email" name="email"
                                                               th:value="${user?.email}"
                                                               th:attrappend="style=${emailError != null ? 'border: 1px solid #a94442;' : ''}">
                                                    </div>

                                                    <label class="control-label" style="color: #a94442;"
                                                           th:if="${phoneNumberError != null}"
                                                           th:text="${phoneNumberError}"></label>
                                                    <div class="input-group"
                                                         th:attrappend="class=${phoneNumberError != null ? ' has-error my-has-error' : ''}">
                                                        <span class="input-group-addon"><span
                                                                class="input-icon input-icon-user"></span><span
                                                                class="input-text">Telephone&#42;</span></span>
                                                        <input type="text" class="form-control input-lg"
                                                               placeholder="Your Telephone" name="phoneNumber"
                                                               th:value="${user?.phoneNumber}"
                                                               th:attrappend="style=${phoneNumberError != null ? 'border: 1px solid #a94442;' : ''}">
                                                    </div>
                                                </div><!-- End .col-md-6 -->

                                                <div class="col-md-6 col-sm-6 col-xs-12">

                                                    <h2 class="checkout-title">Your Address</h2>

                                                    <label class="control-label" style="color: #a94442;"
                                                           th:if="${addressError != null}"
                                                           th:text="${addressError}"></label>
                                                    <div class="input-group"
                                                         th:attrappend="class=${addressError != null ? ' has-error my-has-error' : ''}">
                                                        <span class="input-group-addon"><span
                                                                class="input-icon input-icon-user"></span><span
                                                                class="input-text">Address&#42;</span></span>
                                                        <input type="text" class="form-control input-lg"
                                                               placeholder="Your Address" name="address"
                                                               th:value="${user?.address}"
                                                               th:attrappend="style=${addressError != null ? 'border: 1px solid #a94442;' : ''}">
                                                    </div>

                                                    <label class="control-label" style="color: #a94442;"
                                                           th:if="${postCodeError != null}"
                                                           th:text="${postCodeError}"></label>
                                                    <div class="input-group"
                                                         th:attrappend="class=${postCodeError != null ? ' has-error my-has-error' : ''}">
                                                        <span class="input-group-addon"><span
                                                                class="input-icon input-icon-user"></span><span
                                                                class="input-text">Post Code&#42;</span></span>
                                                        <input type="text" class="form-control input-lg"
                                                               placeholder="Your Post Code" name="postCode"
                                                               th:value="${user?.postCode}"
                                                               th:attrappend="style=${postCodeError != null ? 'border: 1px solid #a94442;' : ''}">
                                                    </div>
                                                    <a class="btn btn-custom-2"
                                                       onclick="collapsePanel('billing_id','payment-method_id')">CONTINUE</a>
                                                </div><!-- End .col-md-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .panel-body -->
                                    </div><!-- End .panel-collapse -->
                                </div><!-- End .panel -->

                                <div class="panel">
                                    <div class="accordion-header">
                                        <div class="accordion-title">2 Step: <span>Payment Method</span></div>
                                        <!-- End .accordion-title -->
                                        <a class="accordion-btn" data-toggle="collapse"
                                           data-target="#payment-method" id="payment-method_id"></a>
                                    </div><!-- End .accordion-header -->

                                    <div id="payment-method" class="collapse">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12">

                                                    <h2 class="checkout-title">Your credit card data</h2>

                                                    <label class="control-label" style="color: #a94442;"
                                                           th:if="${ccNumberError != null}"
                                                           th:text="${ccNumberError}"></label>
                                                    <div class="input-group"
                                                         th:attrappend="class=${ccNumberError != null ? ' has-error my-has-error' : ''}">
                                                        <span class="input-group-addon"><span
                                                                class="input-icon input-icon-user"></span><span
                                                                class="input-text">Number&#42;</span></span>
                                                        <input type="text" class="form-control input-lg"
                                                               placeholder="Your credit card numbe" name="ccNumber"
                                                               th:value="${payment?.ccNumber}"
                                                               th:attrappend="style=${ccNumberError != null ? 'border: 1px solid #a94442;' : ''}">
                                                    </div>

                                                    <label class="control-label" style="color: #a94442;"
                                                           th:if="${ccExpirationError != null}"
                                                           th:text="${ccExpirationError}"></label>
                                                    <div class="input-group"
                                                         th:attrappend="class=${ccExpirationError != null ? ' has-error my-has-error' : ''}">
                                                        <span class="input-group-addon"><span
                                                                class="input-icon input-icon-user"></span><span
                                                                class="input-text">Expiration&#42;</span></span>
                                                        <input type="text" class="form-control input-lg"
                                                               placeholder="Your credit card expiration" name="ccExpiration"
                                                               th:value="${payment?.ccExpiration}"
                                                               th:attrappend="style=${ccExpirationError != null ? 'border: 1px solid #a94442;' : ''}">
                                                    </div>

                                                    <label class="control-label" style="color: #a94442;"
                                                           th:if="${ccCVVError != null}"
                                                           th:text="${ccCVVError}"></label>
                                                    <div class="input-group"
                                                         th:attrappend="class=${ccCVVError != null ? ' has-error my-has-error' : ''}">
                                                        <span class="input-group-addon"><span
                                                                class="input-icon input-icon-user"></span><span
                                                                class="input-text">CVV&#42;</span></span>
                                                        <input type="text" class="form-control input-lg"
                                                               placeholder="Your credit card CVV" name="ccCVV"
                                                               th:value="${payment?.ccCVV}"
                                                               th:attrappend="style=${ccCVVError != null ? 'border: 1px solid #a94442;' : ''}">
                                                    </div>

                                                </div><!-- End .col-md-6 -->

                                                <div class="col-md-6 col-sm-6 col-xs-12">

                                                    <a class="btn btn-custom-2"
                                                       onclick="collapsePanel('payment-method_id','confirm_id')">CONTINUE</a>
                                                </div><!-- End .col-md-6 -->

                                            </div><!-- End .row -->
                                        </div><!-- End .panel-body -->
                                    </div><!-- End .panel-collapse -->

                                </div><!-- End .panel -->

                                <div class="panel">
                                    <div class="accordion-header">
                                        <div class="accordion-title">3 Step: <span>Confirm Order</span></div>
                                        <!-- End .accordion-title -->
                                        <a class="accordion-btn opened" data-toggle="collapse"
                                           data-target="#confirm" id="confirm_id"></a>
                                    </div><!-- End .accordion-header -->

                                    <div id="confirm" class="collapse">
                                        <div class="panel-body">

                                            <div class="table-responsive">
                                                <table class="table checkout-table">
                                                    <thead>
                                                    <tr>
                                                        <th class="table-title">Product Name</th>
                                                        <th class="table-title">Product Code</th>
                                                        <th class="table-title">Unit Price</th>
                                                        <th class="table-title">Quantity</th>
                                                        <th class="table-title">SubTotal</th>
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    <th:block th:each="product : ${products}">

                                                        <tr th:object="${product.getKey()}"
                                                            th:id="'tr_product_id_' + ${product.getKey().id}">
                                                            <td class="item-name-col">
                                                                <figure>
                                                                    <a th:if="*{filename != null}"
                                                                       th:href="'/product/' + *{id}"><img
                                                                            th:src="*{'/img/' + filename}"
                                                                            th:alt="*{name}"></a>
                                                                    <a th:unless="*{filename != null}" href="#"><img
                                                                            src="/images/products/compare1.jpg"
                                                                            th:alt="*{name}"></a>
                                                                </figure>
                                                                <header class="item-name"><a
                                                                        th:href="'/product/' + *{id}"
                                                                        th:text="*{name}"></a>
                                                                </header>
                                                                <ul>
                                                                    <li style="margin-bottom: 14px;">Color: <label
                                                                            th:if="${colors != null}"
                                                                            th:class="label-color">
                                                        <span
                                                                th:attr="style='background-color: rgb( ' + ${colors.get(product.getKey().id) + '); margin-top: 16px;'}"></span>
                                                                    </label>
                                                                    </li>
                                                                    <li th:text="${sizes != null  ? 'Size: ' + sizes.get(product.getKey().id) : ''}"></li>
                                                                </ul>
                                                            </td>
                                                            <td class="item-code">[[*{id}]]</td>
                                                            <td class="item-price-col"><span class="item-price-special">[[*{price}]]</span>
                                                            </td>
                                                            <td>
                                                                <div class="custom-quantity-input">
                                                                    <input disabled type="text" name="quantity"
                                                                           th:value="${product.getValue().get(0)}">
                                                                </div>
                                                            </td>
                                                            <td class="item-total-col">
                                                                <span class="item-price-special"
                                                                      th:text="${product.getValue().get(1) }"></span>
                                                            </td>
                                                        </tr>
                                                    </th:block>
                                                    <tr>

                                                        <td class="checkout-table-title" colspan="4">Shipping:</td>
                                                        <td class="checkout-table-price">$0.00</td>
                                                    </tr>
                                                    <tr>

                                                        <td class="checkout-table-title" colspan="4">Tax(0%):</td>
                                                        <td class="checkout-table-price">$0.00</td>
                                                    </tr>

                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <td class="checkout-total-title" colspan="4">
                                                            <strong>TOTAL:</strong></td>
                                                        <td class="checkout-total-price cart-total">
                                                            <strong>[[${total_price}]]</strong></td>
                                                    </tr>
                                                    </tfoot>
                                                </table>

                                            </div><!-- End .table-reponsive -->
                                            <div class="lg-margin"></div><!-- space -->
                                            <div class="text-right">
                                                <input type="submit" class="btn btn-custom-2" value="CONFIRM ORDER">
                                            </div>
                                        </div><!-- End .panel-body -->
                                    </div><!-- End .panel-collapse -->

                                </div><!-- End .panel -->
                            </div><!-- End .panel-group #checkout -->
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        </form>
                        <div class="xlg-margin"></div><!-- space -->
                    </div><!-- End .col-md-12 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

        </section><!-- End #content -->
    </th:block>
    <th:block th:unless="${products != null}">
        <div class="lg-margin"></div><!-- Space -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="no-content-comment" style="text-align: center;">
                        <h2>Oops(</h2>
                        <h3>To place an order, add something to the cart</h3>
                    </div><!-- End .no-content-comment -->
                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
        <div class="md-margin2x"></div><!-- Space -->
    </th:block>

    <footer th:insert="parts/footer.html :: footer"></footer><!-- End #footer -->
</div><!-- End #wrapper -->

<th:block th:insert="parts/footer.html :: afterFooter"></th:block><!-- End #footer -->

</body>
</html>