<!DOCTYPE html>
<!--[if IE 8]>
<html class="ie8"> <![endif]-->
<!--[if IE 9]>
<html class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html> <!--<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:insert="parts/head.html :: head"></head>
<body>
<div id="wrapper">
    <header th:insert="parts/header.html :: header"></header>

    <section id="content">
        <div id="breadcrumb-container">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="index">Home</a></li>
                    <li class="active">My Account</li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 sidebar">
                    <div >
                        <div class="list-group">

                            <th:block th:if="${(param.menu_item != null) and (param.menu_item[0] == 'orders')}">
                                <a href="/my-account?menu_item=orders" class="list-group-item active">Orders history</a>
                            </th:block>
                            <th:block th:unless="${(param.menu_item != null) and (param.menu_item[0] == 'orders')}">
                                <a href="/my-account?menu_item=orders" class="list-group-item">Orders history</a>
                            </th:block>

                            <th:block th:if="${(param.menu_item != null) and (param.menu_item[0] == 'viewed-products')}">
                                <a href="/my-account?menu_item=viewed-products" class="list-group-item active">Viewed products</a>
                            </th:block>
                            <th:block th:unless="${(param.menu_item != null) and (param.menu_item[0] == 'viewed-products')}">
                                <a href="/my-account?menu_item=viewed-products" class="list-group-item">Viewed products</a>
                            </th:block>

                            <th:block th:if="${(param.menu_item != null) and (param.menu_item[0] == 'CaA')}">
                                <a href="/my-account?menu_item=CaA" class="list-group-item active">Contact and addresses</a>
                            </th:block>
                            <th:block th:unless="${(param.menu_item != null) and (param.menu_item[0] == 'CaA')}">
                                <a href="/my-account?menu_item=CaA" class="list-group-item">Contact and addresses</a>
                            </th:block>

                            <th:block th:if="${(param.menu_item != null) and (param.menu_item[0] == 'wishlist')}">
                                <a href="/my-account?menu_item=wishlist" class="list-group-item active">Wishlist</a>
                            </th:block>
                            <th:block th:unless="${(param.menu_item != null) and (param.menu_item[0] == 'wishlist')}">
                                <a href="/my-account?menu_item=wishlist" class="list-group-item">Wishlist</a>
                            </th:block>

                            <th:block sec:authorize="isAuthenticated()">
                                <form th:action="@{/logout}" method="post" name="callback">
                                    <a onclick="document.forms['callback'].submit();" class="list-group-item">Logout</a>
                                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                                </form>
                            </th:block>
                            <th:block sec:authorize="!isAuthenticated()">
                                    <a th:href="@{/admins/users}"  class="list-group-item">Login</a>
                            </th:block>
                        </div><!-- End .list-group -->
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12 main-content">

                    <th:block th:if="${(param.menu_item != null) and (param.menu_item[0] == 'orders')}">
                        <th:block th:if="${orders != null}">
                                <div class="row">
                                    <div class="col-md-12 table-responsive">
                                        <table class="table cart-table">
                                            <thead>
                                            <tr>
                                                <th class="table-title">Id</th>
                                                <th class="table-title">Date</th>
                                                <th class="table-title">Status</th>
                                                <th class="table-title">Price</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <th:block th:each="order : ${orders}">
                                                <tr th:object="${order}">
                                                    <td class="item-name-col">
                                                        <header class="item-name" style="text-align: center"><a
                                                                th:href="'/order/' + *{id}">[[*{id}]]</a>
                                                        </header>
                                                    </td>
                                                    <td class="item-code">[[*{placedAt}]]</td>
                                                    <td class="item-price-col"><span class="item-price-special"></span>
                                                    </td>
                                                    <td class="item-price-col"><span class="item-price-special"
                                                                                     th:value="*{total_price}">[[*{total_price}]]</span>
                                                    </td>
                                                </tr>
                                            </th:block>
                                            </tbody>

                                        </table>
                                        <div class="md-margin2x"></div><!-- Space -->
                                    </div><!-- End .col-md-12 -->
                                </div><!-- End .row -->
                        </th:block>
                        <th:block th:unless="${orders != null}">
                            <p>order list empty</p>
                        </th:block>
                    </th:block>

                    <th:block th:if="${(param.menu_item != null) and (param.menu_item[0] == 'viewed-products')}">
                        <th:block th:if="${viewedProducts != null}">
                            <th:block th:each=" product : ${viewedProducts}">
                                <div th:include="parts/pager.html :: itemTile(${product})"></div>
                            </th:block>
                        </th:block>
                        <th:block th:unless="${viewedProducts != null}">
                            <p>viewed products empty</p>
                        </th:block>
                    </th:block>

                    <th:block th:if="${(param.menu_item != null) and (param.menu_item[0] == 'CaA')}">
                        <th:block  th:if="${user != null}">
                            <form action="/my-account?menu_item=CaA" method="post">
                            <h2>Address </h2>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="input-icon input-icon-address"></span><span class="input-text">Address*</span></span>
                                <input type="text" class="form-control input-lg" placeholder="Your Address" name="address" id="address" th:value="${user.address}">
                            </div>
                            <h2>Contacts</h2>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">First Name*</span></span>
                                <input type="text" class="form-control" name="firstName" th:value="${user.firstName}" placeholder="First Name">
                            </div>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Last Name*</span></span>
                                <input type="text" class="form-control" name="lastName" placeholder="Last Name" th:value="${user.lastName}">
                            </div>

                                <label th:if="${phoneNumberError != null} " class="control-label" style="color: #a94442;" th:text="${phoneNumberError}" ></label>
                                <div class="input-group" th:attrappend="class=${phoneNumberError != null ? ' has-error my-has-error' : ''}">
                                <span class="input-group-addon"><span class="input-icon input-icon-phone"></span><span class="input-text">Telephone*</span></span>
                                <input type="text" class="form-control input-lg" placeholder="Your Telephone" name="phoneNumber" id="phoneNumber"
                                       th:value="${user.phoneNumber}"
                                       th:attrappend="style=${phoneNumberError != null ? 'border: 1px solid #a94442;' : ''}">
                            </div>

                                <label th:if="${emailError != null}" class="control-label" style="color: #a94442;" th:text="${emailError}" ></label>
                                <div class="input-group" th:attrappend="class=${emailError != null ? ' has-error my-has-error' : ''}">
                                <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email*</span></span>
                                <input type="text" class="form-control input-lg" placeholder="Your Email" name="email" id="email"
                                       th:value="${user.email}"
                                       th:attrappend="style=${emailError != null ? 'border: 1px solid #a94442;' : ''}">
                            </div>
                            <input type="submit" value="Update" class="btn btn-custom-2 md-margin">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                            </form>
                        </th:block>
                        <th:block th:unless="${user != null}">
                            <p>no user</p>
                        </th:block>
                    </th:block>

                    <th:block th:if="${(param.menu_item != null) and (param.menu_item[0] == 'wishlist')}">
                        <th:block th:if="${wishlist != null}">
                            <div class="row" th:class="for_cart" th:id="wishlist-container">

                                <div class="col-md-12 table-responsive">

                                    <table class="table cart-table">
                                        <thead>
                                        <tr>
                                            <th class="table-title">Name</th>
                                            <th class="table-title">Description</th>
                                            <th class="table-title">Price</th>
                                            <th class="table-title">Brand</th>
                                            <th class="table-title">Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <th:block th:each="product : ${wishlist}">
                                            <tr th:object="${product}" th:id="'tr_product_id_' + ${product.id}">
                                                <td class="item-name-col">
                                                    <figure>
                                                        <a th:if="*{filename != null}" th:href="'/product/' + *{id}"><img th:src="*{'/img/' + filename}" th:alt="*{name}"></a>
                                                        <a th:unless="*{filename != null}"  href="#"><img src="/images/products/compare1.jpg" th:alt="*{name}"></a>
                                                    </figure>
                                                    <header class="item-name"><a
                                                            th:href="'/product/' + *{id}">[[*{name}]]</a>
                                                    </header>
                                                    <ul>
                                                        <li>Color: [[*{color.rgb}]]</li>
                                                        <li>Size: SM</li>
                                                    </ul>
                                                </td>
                                                <td class="item-code">[[*{Description}]]</td>
                                                <td class="item-price-col"><span class="item-price-special"
                                                                                 th:value="*{price}">[[*{price}]]</span>
                                                </td>
                                                <td class="item-price-col"><span class="item-price-special"
                                                                                 th:value="*{brand}">[[*{brand.name}]]</span>
                                                </td>

                                                <td class="item-total-col">
                                                    <a th:onclick="'deleteElementWishlist(' + *{id} + ');'"
                                                       class="close-button"></a>
                                                </td>
                                            </tr>
                                        </th:block>
                                        </tbody>

                                    </table>
                                    <div class="md-margin2x"></div><!-- Space -->

                                </div><!-- End .col-md-12 -->

                            </div><!-- End .row -->
                            <div class="lg-margin"></div><!-- End .space -->

                            <div class="row for_cart">

                            </div><!-- End .row -->

                            <div class="md-margin2x"></div><!-- Space -->
                        </th:block>
                        <th:block th:unless="${wishlist != null}">
                            <p>wishlist empty</p>
                        </th:block>
                    </th:block>

                </div>
            </div>
        </div>
    </section><!-- End #content -->

    <footer th:insert="parts/footer.html :: footer"></footer><!-- End #footer -->
</div><!-- End #wrapper -->

<th:block th:insert="parts/footer.html :: afterFooter"></th:block><!-- End #footer -->

</body>
</html>