<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head th:insert="parts/head.html :: head"></head>
    <body>
    <div id="wrapper">
		<header th:insert="parts/header.html :: header"></header>
		<!-- End #header -->

        <section id="content">
        	<div id="breadcrumb-container">
        		<div class="container">
					<ul class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">Register Account</li>
					</ul>
        		</div>
        	</div>
        	<div class="container">
        		<div class="row">
        			<div class="col-md-12">
						<header class="content-title">
							<h1 class="title">Register Account</h1>
							<p class="title-desc">If you already have an account, please login at <a href="#">login page</a>.</p>
						</header>
        				<div class="xs-margin"></div><!-- space -->
						<form th:action="@{'/registration'}" method="post" id="register-form" th:object="${user}">
        				<div class="row">

							<h5 th:if="${#fields.hasErrors()}">
								<span>Please correct the problems below and resubmit.</span>
							</h5>
								<div class="col-md-6 col-sm-6 col-xs-12">
									
									<fieldset>
									<h2 class="sub-title">YOUR PERSONAL DETAILS</h2>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="input-icon input-icon-fax"></span><span class="input-text">Username</span></span>
                                            <input type="text" class="form-control input-lg" placeholder="Username" th:name="username"
												   th:attrappend="class=${#fields.hasErrors('username') || (userExist != null)} ? ' is-invalid' + ''"
												   th:field="*{username}" name="username">
											<span class="validationError text-danger"
												  th:if="${#fields.hasErrors('username')}"
												  th:errors="*{username}"></span>
											<span class="validationError text-danger"
												  th:if="${userExist != null}"
												  th:text="${userExist}"></span>
                                        </div><!-- End .input-group -->
									<div class="input-group">
										<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">First Name&#42;</span></span>
										<input type="text" class="form-control input-lg" placeholder="Your First Name" th:name="firstName"
											   th:field="*{firstName}">
									</div><!-- End .input-group -->
									<div class="input-group">
										<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Last Name&#42;</span></span>
										<input type="text" class="form-control input-lg" placeholder="Your Last Name" th:name="lastName"
											   th:field="*{lastName}">
									</div><!-- End .input-group -->

									</fieldset>
                                    <fieldset>
                                        <h2 class="sub-title">YOUR PASSWORD</h2>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">Password&#42;</span></span>
                                            <input type="password" class="form-control input-lg" placeholder="Your Password"  th:name="password"
												   th:field="*{password}"
												   th:attrappend="class=${#fields.hasErrors('password')} ? ' is-invalid' + ''">
											<span class="validationError text-danger"
												  th:if="${#fields.hasErrors('password')}"
												  th:errors="*{password}"></span>
                                        </div><!-- End .input-group -->
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">Password&#42;</span></span>
                                            <input type="password" class="form-control input-lg" th:name="confirmPassword" placeholder="Your Password"
												   th:attrappend="class=${errorConfirm != null} ? ' is-invalid' + ''">
											<span class="validationError text-danger"
												  th:if="${errorConfirm != null}"
												  th:text="${errorConfirm}"></span>
                                        </div><!-- End .input-group -->
                                    </fieldset>
                                    <input type="submit" value="CREATE MY ACCCOUNT" class="btn btn-custom-2 md-margin">
								</div><!-- End .col-md-6 -->
        						
        						<div class="col-md-6 col-sm-6 col-xs-12">
        						<fieldset>
									<h2 class="sub-title">YOUR ADDRESS</h2>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-icon input-icon-address"></span><span class="input-text">Address 1&#42;</span></span>
										<input type="text" class="form-control input-lg" placeholder="Your Address" th:name="address" th:field="*{address}">
									</div><!-- End .input-group -->
									<div class="input-group">
										<span class="input-group-addon"><span class="input-icon input-icon-postcode"></span><span class="input-text">Post Code&#42;</span></span>
										<input type="text" class="form-control input-lg" placeholder="Your Post Code" th:name="postCode" th:field="*{postCode}">
									</div><!-- End .input-group -->
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="input-icon input-icon-phone"></span><span class="input-text">Telephone&#42;</span></span>
                                        <input type="text" class="form-control input-lg" placeholder="Your Telephone"
											   th:attrappend="class=${#fields.hasErrors('phoneNumber')} ? ' is-invalid' + ''" th:name="phoneNumber"
											   th:field="*{phoneNumber}">
										<span class="validationError text-danger"
											  th:if="${#fields.hasErrors('phoneNumber')}"
											  th:errors="*{phoneNumber}"></span>
                                    </div><!-- End .input-group -->
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
                                        <input type="text" class="form-control input-lg" placeholder="Your Email"  th:name="email"
											   th:field="*{email}"
											   th:attrappend="class=${#fields.hasErrors('email')} ? ' is-invalid' + ''">
										<span class="validationError text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                    </div><!-- End .input-group -->
									</fieldset>
                                    <fieldset class="half-margin">
                                        <h2 class="sub-title">NEWSLETTER</h2>
                                        <div class="input-desc-box">
                                            <span class="separator icon-box">&plus;</span>I wish to subscribe to the Venedor newsletter.
                                        </div><!-- End .input-desc -->

                                        <div class="input-group custom-checkbox">
                                            <input type="checkbox"> <span class="checbox-container">
									 <i class="fa fa-check"></i>
									 </span>
                                            I have reed and agree to the <a href="#">Privacy Policy</a>.
                                        </div><!-- End .input-group -->
                                    </fieldset>

                                </div><!-- End .col-md-6 -->
        				</div><!-- End .row -->
							<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        				</form>
        			</div><!-- End .col-md-12 -->
        		</div><!-- End .row -->
			</div><!-- End .container -->
        
        </section><!-- End #content -->

        <footer th:insert="parts/footer.html :: footer"></footer><!-- End #footer -->
    </div><!-- End #wrapper -->
        <a href="#" id="scroll-top" title="Scroll to Top"><i class="fa fa-angle-up"></i></a><!-- End #scroll-top -->
    <!-- END -->
	<script src="js/bootstrap.min.js"></script>
    <script src="js/smoothscroll.js"></script>
	<script src="js/jquery.debouncedresize.js"></script>
    <script src="js/retina.min.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/jquery.hoverIntent.min.js"></script>
	<script src="js/twitter/jquery.tweet.min.js"></script>
	<script src="js/jquery.flexslider-min.js"></script>
    <script src="js/jquery.selectbox.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>

    </body>
</html>