<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="parts/head.html :: head"></head>
<body>
<div id="wrapper">
    <header th:insert="parts/header.html :: header"></header>
    <!-- End #header -->

    <section id="content">
        <div id="breadcrumb-container">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Register Account</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header class="content-title">
                        <h1 class="title">Register Account</h1>
                        <p class="title-desc">If you already have an account, please login at <a href="#">login page</a>.
                        </p>
                    </header>
                    <div class="xs-margin"></div><!-- space -->
                    <form action="/registration" method="post" id="register-form" th:object="${user}">
                        <div class="row">

                            <div th:if="${#fields.hasErrors()}" class="input-group has-error"
                                 style="    margin-bottom: 19px;     margin-left: 15px;">
                                <h4 style="color: #a94442">Please correct the problems below and resubmit.</h4>
                                <br>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <fieldset>
                                    <h2 class="sub-title">YOUR PERSONAL DETAILS</h2>

                                    <label th:if="${#fields.hasErrors('username')}" class="control-label"
                                           style="color: #a94442;" th:errors="*{username}"></label>
                                    <label th:if="${userExist != null}" class="control-label" style="color: #a94442;"
                                           th:text="${userExist}"></label>
                                    <div class="input-group"
                                         th:attrappend="class=${(userExist != null) || (#fields.hasErrors('username')) ? ' has-error my-has-error' : ''}">
                                        <span class="input-group-addon"><span
                                                class="input-icon input-icon-fax"></span><span class="input-text">Username</span></span>
                                        <input type="text" class="form-control input-lg" placeholder="Username"
                                               th:field="*{username}" name="username"
                                               th:attrappend="style=${(userExist != null) || (#fields.hasErrors('username')) ? 'border: 1px solid #a94442;' : ''}">
                                    </div><!-- End .input-group -->

                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                                                class="input-text">First Name&#42;</span></span>
                                        <input type="text" class="form-control input-lg" placeholder="Your First Name"
                                               name="firstName"
                                               th:field="*{firstName}">
									</div><!-- End .input-group -->

									<div class="input-group">
                                        <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span
                                                class="input-text">Last Name&#42;</span></span>
                                        <input type="text" class="form-control input-lg" placeholder="Your Last Name"
                                               name="lastName"
                                               th:field="*{lastName}">
                                    </div><!-- End .input-group -->

                                </fieldset>
                                <fieldset>
                                    <h2 class="sub-title">YOUR PASSWORD</h2>

                                    <label th:if="${#fields.hasErrors('password')}" class="control-label"
                                           style="color: #a94442;" th:errors="*{password}"></label>
                                    <div class="input-group"
                                         th:attrappend="class=${#fields.hasErrors('password') ? ' has-error my-has-error' : ''}">
                                        <span class="input-group-addon"><span
                                                class="input-icon input-icon-password"></span><span class="input-text">Password&#42;</span></span>
                                        <input type="password" class="form-control input-lg" placeholder="Your Password"
                                               name="password"
                                               th:field="*{password}"
                                               th:attrappend="style=${#fields.hasErrors('password') ? 'border: 1px solid #a94442;' : ''}">
                                    </div><!-- End .input-group -->

                                    <label th:if="${errorConfirm != null}" class="control-label" style="color: #a94442;"
                                           th:text="${errorConfirm}"></label>
                                    <div class="input-group"
                                         th:attrappend="class=${errorConfirm != null ? ' has-error my-has-error' : ''}">
                                        <span class="input-group-addon"><span
                                                class="input-icon input-icon-password"></span><span class="input-text">Password&#42;</span></span>
                                        <input type="password" class="form-control input-lg" name="confirmPassword"
                                               placeholder="Your Password"
                                               th:attrappend="style=${errorConfirm != null} ? 'border: 1px solid #a94442;' : ''">
                                    </div><!-- End .input-group -->

                                </fieldset>
                                <input type="submit" value="CREATE MY ACCCOUNT" class="btn btn-custom-2 md-margin">
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <fieldset>
                                    <h2 class="sub-title">YOUR ADDRESS</h2>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="input-icon input-icon-address"></span><span class="input-text">Address 1&#42;</span></span>
                                        <input type="text" class="form-control input-lg" placeholder="Your Address"
                                               th:name="address" th:field="*{address}">
                                    </div><!-- End .input-group -->
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="input-icon input-icon-postcode"></span><span class="input-text">Post Code&#42;</span></span>
                                        <input type="text" class="form-control input-lg" placeholder="Your Post Code"
                                               th:name="postCode" th:field="*{postCode}">
                                    </div><!-- End .input-group -->

                                    <label th:if="${#fields.hasErrors('phoneNumber')}" class="control-label"
                                           style="color: #a94442;" th:errors="*{phoneNumber}"></label>
                                    <div class="input-group"
                                         th:attrappend="class=${#fields.hasErrors('phoneNumber') ? ' has-error my-has-error' : ''}">
                                        <span class="input-group-addon"><span
                                                class="input-icon input-icon-phone"></span><span class="input-text">Telephone&#42;</span></span>
                                        <input type="text" class="form-control input-lg" placeholder="Your Telephone"
                                               name="phoneNumber"
                                               th:attrappend="style=${#fields.hasErrors('phoneNumber') ? 'border: 1px solid #a94442;' : ''}"
                                               th:field="*{phoneNumber}">
                                    </div><!-- End .input-group -->

                                    <label th:if="${#fields.hasErrors('email')}" class="control-label"
                                           style="color: #a94442;" th:errors="*{email}"></label>
                                    <div class="input-group"
                                         th:attrappend="class=${#fields.hasErrors('email') ? ' has-error my-has-error' : ''}">
                                        <span class="input-group-addon"><span
                                                class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
                                        <input type="text" class="form-control input-lg" placeholder="Your Email"
                                               name="email"
                                               th:attrappend="style=${#fields.hasErrors('email') ? 'border: 1px solid #a94442;' : ''}"
                                               th:field="*{email}">
                                    </div><!-- End .input-group -->

                                </fieldset>
                                <fieldset class="half-margin">
                                    <h2 class="sub-title">NEWSLETTER</h2>
                                    <div class="input-desc-box">
                                        <span class="separator icon-box">&plus;</span>I wish to subscribe to the Venedor
                                        newsletter.
                                    </div><!-- End .input-desc -->

                                    <div class="input-group custom-checkbox">
                                        <input type="checkbox"> <span class="checbox-container">
									 <i class="fa fa-check"></i>
									 </span>
                                        I have reed and agree to the <a href="#">Privacy Policy</a>.
                                    </div><!-- End .input-group -->
                                </fieldset>

                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    </form>
                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

    </section><!-- End #content -->

    <footer th:insert="parts/footer.html :: footer"></footer><!-- End #footer -->
</div><!-- End #wrapper -->

<th:block th:insert="parts/footer.html :: afterFooter"></th:block><!-- End #footer -->

</body>
</html>