<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="pager(url,page,listpages,setParam)">

    <div class="toolbox-pagination clearfix">
        <ul class="pagination">

            <th:block th:each="p: ${listpages}">
                <th:block th:if="${p-1 == page.getNumber()}">
                    <li class="active">
                        <a href="#" tabindex="-1">[[${p}]]</a>
                    </li>
                </th:block>
                <th:block th:unless="${p-1 == page.getNumber()}">
                    <th:block  th:if="${p == -1}">
                        <li class=" disabled">
                            <a href="#" tabindex="-1">...</a>
                        </li>
                    </th:block>
                    <th:block  th:unless="${p == -1}">
                        <li>
                            <a th:href="${url} + '?page=' + ${p-1} + '&size=' + ${page.getSize()} + '&' + ${setParam}" tabindex="-1">[[${p}]]</a>
                        </li>
                    </th:block>
                </th:block>
            </th:block>
        </ul>

        <div class="view-count-box">
            <span class="separator">view:</span>
            <div class="btn-group select-dropdown">
                <button type="button" class="btn select-btn">[[${page.getSize()}]]</button>
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu" role="menu">

                    <th:block th:each=" c: ${ {10, 15 , 20, 25} }">
                        <th:block th:if="${c == page.getSize()}">
                            <li class="active">
                                <a href="#" tabindex="-1">[[${c}]]</a>
                            </li>
                        </th:block>
                        <th:block th:unless="${c == page.getSize()}">
                            <li>
                                <a th:href="${url} + '?page=' + ${page.getNumber()} + '&size=' + ${c} + '&' + ${setParam}" tabindex="-1">[[${c}]]</a>
                            </li>
                        </th:block>
                    </th:block>
                </ul>
            </div>
        </div>

    </div>

</th:block>

<th:block th:fragment="itemTile(product)">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="item item-hover">
            <div class="item-image-wrapper">
                <figure class="item-image-container">
                    <a th:href="${'product/' + product.id}">
                        <img th:src="'img/catalog/' + ${product.filename}"
                             alt="item1" class="item-image">
                        <img th:src="'img/catalog/' + ${product.hoverFilename}"
                             alt="item1  Hover" class="item-image-hover"></a>
                </figure>
                <div class="item-price-container">
                <th:block th:if="${product.sale != null}">
                                                            <span class="old-price"
                                                                  th:text="${product.price != null ? product.price : ''}"></span>
                    <span class="item-price"
                          th:text="${  product.price != null ? product.price - product.price * product.sale / 100: ''}"></span>
                </th:block>
                <th:block th:unless="${product.sale != null}">
                                                            <span class="item-price"
                                                                  th:text="${product.price != null ? product.price : ''}"></span>
                </th:block>
            </div><!-- End .item-price-container -->
                <span class="new-rect" th:if="${product.newProduct}">New</span>
                <span class="discount-rect" th:if="${product.sale != null}">[[${product.sale + '%'}]]</span>
            </div><!-- End .item-image-wrapper -->
            <div class="item-meta-container">
                <div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-result" data-result="80"></div>
                    </div><!-- End .ratings -->
                    <span class="ratings-amount">5 Reviews</span>
                </div><!-- End .rating-container -->
                <h3 class="item-name"><a th:href="'/product/' + ${product.id}">[[${product.name}]]</a>
                </h3>
                <div class="item-action">
                    <a href="#" class="item-add-btn"><span class="icon-cart-text">Add to Cart</span></a>
                    <div class="item-action-inner">
                        <a href="#" class="icon-button icon-like">Favourite</a>
                        <a href="#" class="icon-button icon-compare">Checkout</a>
                    </div><!-- End .item-action-inner -->
                </div><!-- End .item-action -->
            </div><!-- End .item-meta-container -->
        </div><!-- End .item -->
    </div><!-- End .col-md-4 -->
</th:block>

<th:block th:fragment="itemList(product)">
    <div class="item item-list clearfix">
        <div class="item-image-container">
            <figure>
                <a th:href="${'product/' + product.id}">
                    <img th:src="'img/catalog/' + ${product.filename}" alt="item1" class="item-image">
                    <img th:src="'img/catalog/' + ${product.hoverFilename}" alt="item1  Hover" class="item-image-hover">
                </a>
            </figure>
            <div class="item-price-container">
                <th:block th:if="${product.sale != null}">
                                                            <span class="old-price"
                                                                  th:text="${product.price != null ? product.price : ''}"></span>
                    <span class="item-price"
                          th:text="${product.price != null ? product.price - product.price * product.sale / 100: ''}"></span>
                </th:block>
                <th:block th:unless="${product.sale != null}">
                                                            <span class="item-price"
                                                                  th:text="${product.price != null ? product.price : ''}"></span>
                </th:block>
            </div><!-- End .item-price-container -->
            <span class="new-rect" th:if="${product.newProduct}">New</span>
            <span class="discount-rect" th:if="${product.sale != null}">[[${product.sale + '%'}]]</span>
        </div><!-- End .item-image -->
        <div class="item-meta-container">
            <h3 class="item-name"><a th:href="'/product/' + ${product.id}">[[${product.name}]]</a>
            <div class="ratings-container">
                <div class="ratings">
                    <div class="ratings-result" data-result="70" style="width: 65.8px;"></div>
                </div><!-- End .ratings -->
                <span class="ratings-amount">
    												3 Reviews
    											</span>
            </div><!-- End .rating-container -->
                <p>[[${product.description}]]</p>
                <div class="item-action" style="text-align: left;">
                <a href="#" class="item-add-btn">
                    <span class="icon-cart-text">Add to Cart</span>
                </a>
                <div class="item-action-inner">
                    <a href="#" class="icon-button icon-like">Favourite</a>
                    <a href="#" class="icon-button icon-compare">Checkout</a>
                </div><!-- End .item-action-inner -->
            </div><!-- End .item-action -->
        </div><!-- End .item-meta-container -->
    </div>
</th:block>